@model Services.DTOs.PostDto
@using Web.Utils;
@using Microsoft.AspNetCore.Http.Features

@{
    Layout = null;

    string url = "https://youit.pro/map/dotnetweb";

    string twitter = "http://twitter.com/share?text=Карта знаний JavaScript программиста&url=" + url;

    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var cookieString = consentFeature?.CreateConsentCookie();

}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YouIT - Карта знаний .NET Web программиста</title>

    <link rel="stylesheet" href="~/css/km-style.css" />
    <link rel="stylesheet" href="~/css/all.min.css" />
    <link rel="stylesheet" href="~/css/comments.css" />
    <link rel="stylesheet" href="~/css/authorize.css" />

    <meta name="keywords" content="Программирование, IT, код, собеседование, тестирование, ООП, Junior, Senior, Аутсорсинг, Алгоритмы, Веб-сервер" />
    <meta name="description" content="Детализированная карта знаний для JavaScript программистов от Trainee до Senior. Используйте для самообучения, поиска пробелов в знаниях, создания программ обучения, подготовки к собеседованиям и продвижениям по карьерной лестнице.">

    <meta property="og:title" content="YouIT">
    <meta property="og:description" content="Детализированная карта знаний для JavaScript программистов от Trainee до Senior. Используйте для самообучения, поиска пробелов в знаниях, создания программ обучения, подготовки к собеседованиям и продвижениям по карьерной лестнице.">

    <meta property="og:image" content="https://storage.googleapis.com/youit/images/dotnetweb.png">
    <meta property="og:image:width" content="600">
    <meta property="og:image:width" content="315">
    <meta property="og:url" content="https://youit.pro/map/dotnetweb">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="YouIT - Карта знаний JavaScript программиста">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.0/knockout-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <link rel="icon" href="/favicon-32x32.png">
    <link rel="icon" href="/favicon-16x16.png">
    <link rel="icon" href="/favicon.ico">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script class="_iub_cs_activate" type="text/plain" async suppressedsrc="https://www.googletagmanager.com/gtag/js?id=UA-99938281-2">
    </script>
    <script class="_iub_cs_activate-inline" type="text/plain">
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-99938281-2');
    </script>


    <script type="text/javascript">
                var _iub = _iub || [];
                _iub.csConfiguration = {
                    "lang": "ru",
                    "siteId": 1742269,
                    "cookiePolicyId": 11210594,
                    "consentOnContinuedBrowsing": false,
                    "cookiePolicyUrl": "https://youit.pro/privacy",
                    "banner": {
                        "acceptButtonDisplay": true,
                        "position": "bottom"
                    },
                    callback: {
                        onConsentRead: function () {
                            document.cookie = '@cookieString';
                        }
                    }
                };
    </script>

</head>
<body>


    <div id="header">

        <h1>
            Карта знаний JavaScript программиста
        </h1>
        <div class="descr">
            Детализированная карта знаний для JavaScript программистов от Trainee до Senior.<br />
            Используйте для самообучения, поиска пробелов в знаниях, создания программ обучения,<br /> подготовки к собеседованиям и продвижениям по карьерной лестнице.
        </div>

        <div class="info">
            <i class="map far fa-calendar-alt"></i> Обновлено 10 января 2020 &nbsp;&nbsp;&nbsp;
            <span style="color: rgb(183, 183, 183)">Поделиться:</span>&nbsp;
            <a href="https://www.facebook.com/sharer/sharer.php?u=@url"><i class="map fab fa-facebook-square"></i></a> &nbsp;
            <a href="@twitter"><i class="map fab fa-twitter-square"></i></a> &nbsp;
            <a href="https://vk.com/share.php?url=@url"><i class="map fab fa-vk"></i></a> &nbsp;
            <a href="https://www.linkedin.com/sharing/share-offsite/?url=@url"><i class="map fab fa-linkedin"></i></a> &nbsp;
        </div>
    </div>
   


    <div class="main-content">


        <div style=" float:left; margin-top:-8px;">
            <a href="/"><img src="@Helper.GetImageUrl("logo.png")" alt="YouIT" /></a>
        </div>

        <div style="margin-bottom:20px; float:right;">

            @if (User.Identity.IsAuthenticated)
            {
                <span>Привет,</span> <a href="/profile/"><b>@User.Identity.Name</b></a>
                <a asp-controller="account" asp-action="signOut"><i class="map fas fa-sign-out-alt"></i></a>
                <br /><a href="#gotocomments">Перейти к комментариям</a>
            }
            else
            {
                <span onclick="loadAuthorizeModal()" class="login-link">
                    <i class="map fas fa-sign-in-alt"></i> Войти
                </span>
            }
        </div>

        <a name="top"></a>
        <table id="map">
            <thead>
                <tr>
                    <th></th>
                    <th>Trainee</th>
                    <th>Junior</th>
                    <th>Middle</th>
                    <th>Senior</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#jscore">Язык программирования JavaScript</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><a href="#jscore">JavaScript и Браузеры</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><a href="#jscore">SPA Фреймворки: React.js, Angular.js, Vue.js</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><a href="#jscore">HTML & HTML5 / CSS & CSS3</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><a href="#jscore">Контроль качества кода / Рефакторинг</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><a href="#jscore">Алгоритмы и Структуры Данных</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><a href="#oop">Объектно-ориентированное программирование / Парадигмы программирования</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><a href="#patterns">Шаблоны и принципы проектирования, SOLID</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><a href="#arch">Архитектурные шаблоны и Атрибуты качества (Quality Attributes)</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><a href="#jscore">Веб-безопасность, Шифрование данных, OWASP</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td><a href="#jscore">Модульное и интеграционное тестирование</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td><a href="#git"> Системы контроля версий: Git, Mercurial, TFS</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><a href="#process">Гибкие методологии разработки: Scrum, Kanban и Scrumban</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>



            </tbody>
        </table>






        <br />
        <a name="jscore"></a>
        <h2>Язык программирования JavaScript</h2>  <a href="#top"><i class="map fas fa-arrow-circle-up"></i></a>
        <table class="details">
            <thead>
                <tr>
                    <th>Уровень</th>
                    <th>Темы</th>
                    <th>Материалы</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td>
                        Предназначение JavaScript | JavaScript vs Java | JavaScript vs EcmaScript
                    </td>
                    <td>
                        <a href="https://learn.javascript.ru/intro">
                            Введение в JavaScript
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://learn.javascript.ru/manuals-specifications">
                            Справочники и спецификации
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://www.amazon.com/Professional-JavaScript-Developers-Nicholas-Zakas/dp/1118026691">
                            Книга Javascript for Web Developers, Nicholas Zakas, Глава 1
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://www.amazon.com/Professional-JavaScript-Developers-Nicholas-Zakas/dp/1118026691">
                            Книга Javascript for Web Developers, Nicholas Zakas, Глава
                        </a>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        Основные конструкции JavaScript: Переменные, Примитивные типы данных (number, string, boolean, null, undefined),
                        Правила преобразования типов | Операторы (унарные, бинарные, условные, сравнение...) | Оператор typeof |
                        Циклы while, for | if-else, switch | Strict mode | Функции
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>


        <h3>Контрольные вопросы:</h3>
        <ul>
            <li></li>
        </ul>






        <a name="oop"></a>
        <h2>Объектно-ориентированное программирование / Парадигмы программирования</h2>  <a href="#top"><i class="map fas fa-arrow-circle-up"></i></a>
        <table class="details">
            <thead>
                <tr>
                    <th>Уровень</th>
                    <th>Темы</th>
                    <th>Материалы</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Классы и Объекты</td>
                    <td>
                        <a href="https://developer.mozilla.org/ru/docs/Learn/JavaScript/%D0%9E%D0%B1%D1%8A%D0%B5%D0%BA%D1%82%D1%8B/Object-oriented_JS">
                            Объектно-ориентированный JavaScript для начинающих
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://developer.mozilla.org/ru/docs/Web/JavaScript/Introduction_to_Object-Oriented_JavaScript">
                            Вступление в Объектно-ориентированный JavaScript
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Понимание принципов ООП: Абстракция, Инкапсуляция, Наследование, Полиморфизм</td>
                    <td>
                        <a href="http://vschol.ru/TurboPascal/gl10/gl10_1.html">Основные принципы ООП</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://www.amazon.com/Object-Oriented-Analysis-Design-Applications-3rd/dp/020189551X">Книга Объектно-ориентированный анализ и проектирование, Гради Буч</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Сравнение процедурного и объектно-ориетированного программирования</td>
                    <td>
                        <a href="https://www.examclouds.com/ru/java/java-core-russian/metodiki-programmirovanija">
                            Процедурное и объектно-ориентированное программирование
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Принципы функционального программирования: Чистые функции, Функции высшего порядка, Неизменяемость, Каррирование</td>
                    <td>
                        <a href="https://habr.com/ru/company/ruvds/blog/434112/">
                            Принципы функционального программирования в JavaScript
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://ru.wikibooks.org/wiki/%D0%9E%D1%81%D0%BD%D0%BE%D0%B2%D1%8B_%D1%84%D1%83%D0%BD%D0%BA%D1%86%D0%B8%D0%BE%D0%BD%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D0%B3%D0%BE_%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F/%D0%92%D0%B2%D0%BE%D0%B4%D0%BD%D0%B0%D1%8F_%D0%BB%D0%B5%D0%BA%D1%86%D0%B8%D1%8F">
                            Основы функционального программирования/Вводная лекция
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Принципы GRASP | Принципы Сильного сцепления (High Cohesion) и Слабой связанности (Low Coupling)</td>
                    <td>
                        <a href="https://bool.dev/blog/detail/grasp-printsipy">Принципы GRASP</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://www.amazon.com/Object-Oriented-Analysis-Design-Applications-3rd/dp/020189551X">Книга Объектно-ориентированный анализ и проектирование, Гради Буч</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Понимание связей Композиции, Агрегации, Наследования. Плюсы и минусы.</td>
                    <td>
                        <a href="https://www.amazon.com/Object-Oriented-Analysis-Design-Applications-3rd/dp/020189551X">Книга Объектно-ориентированный анализ и проектирование, Гради Буч</a> <i class="map fas fa-circle"></i>
                        <a href="https://habr.com/ru/post/354046/">Наследование vs Композиция vs Агрегация</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <h3>Контрольные вопросы:</h3>
        <ul>
            <li>В чем разница между Классом и Объектом?</li>
            <li>В чем разница между Абстракцией и Инкапсуляцией?</li>
            <li>В чем недостатки наследования?</li>
            <li>Что такое Полиморфизм?</li>
            <li>В чем разница между Композицией и Агрегацией?</li>
            <li>О чем говорит принцип Сильного сцеплений (High Cohesion)?</li>
            <li>О чем говорит принцип Слабой связанности (Low Coupling)?</li>
        </ul>








        <a name="patterns"></a>
        <h2>Шаблоны и принципы проектирования, SOLID</h2>  <a href="#top"><i class="map fas fa-arrow-circle-up"></i></a>
        <table class="details">
            <thead>
                <tr>
                    <th>Уровень</th>
                    <th>Темы</th>
                    <th>Материалы</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Принципы SOLID</td>
                    <td>
                        <a href="https://medium.com/webbdev/solid-4ffc018077da">Принципы SOLID, о которых должен знать каждый разработчик</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://getinstance.info/articles/good-code-principles/solid-single-responsibility-javascript/">
                            SOLID принципы в JavaScript. Принцип единственной ответственности
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://thefullstack.xyz/solid-javascript">
                            5 Principles that will make you a SOLID JavaScript Developer
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Принципы DRY, KISS, YAGNI</td>
                    <td>
                        <a href="https://habr.com/ru/company/skillbox/blog/454314/">10 принципов объектно-ориентированного программирования, о которых должен знать каждый разработчик</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://johnnyblog.ru/archives/166">Принципы DRY, KISS, YAGNI </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Принцип Inversion of Control (IoC)</td>
                    <td>
                        <a href="http://demiazz.github.io/about-ioc/">Inversion Of Control</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://habr.com/ru/post/131993/">IoC, DI, IoC-контейнер — Просто о простом</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Шаблоны проектирования в GoF: Singleton, Factory, Strategy, Observer, Mediator, Prototype, Iterator, Facade, Decorator</td>
                    <td>
                        <a href="https://addyosmani.com/resources/essentialjsdesignpatterns/book/">
                            Learning JavaScript Design Patterns
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://www.dofactory.com/javascript/design-patterns">
                            JavaScript Design Patterns
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Шаблоны проектирования в JavaScript: Constructor, Module, Mixin</td>
                    <td>
                        <a href="https://addyosmani.com/resources/essentialjsdesignpatterns/book/">
                            Learning JavaScript Design Patterns
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://www.dofactory.com/javascript/design-patterns">
                            JavaScript Design Patterns
                        </a>
                    </td>
                </tr>

                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Закон Деметры</td>
                    <td>
                        <a href="https://habr.com/ru/post/319652/">Закон Деметры</a>
                    </td>
                </tr>
            </tbody>
        </table>


        <h3>Контрольные вопросы:</h3>
        <ul>
            <li>Как расшифровывается аббревиатура SOLID?</li>
            <li>В чем идея принципа замещения Лисков?</li>
            <li>Какие шаблоны проектирования помогают придерживаться принципа Открыт/Закрыт?</li>
            <li>Какие шаблоны проектирования помогают придерживаться принципа Единой ответственности?</li>
            <li>В чем сходства и отличия принципов Единой ответственности и Разделения интерфейсов?</li>
            <li>Опишите принципы DRY, KISS, YAGNI.</li>
            <li>Как реализовать Синглтон?</li>
            <li>В чем смысл шаблона Декоратор?</li>
            <li>В чем суть принципа Inversion of Control (IoC)?</li>
            <li>Опишите реализацию шаблона Медиатор.</li>
        </ul>





        <a name="arch"></a>
        <h2>Архитектурные шаблоны и Атрибуты качества (Quality Attributes)</h2>  <a href="#top"><i class="map fas fa-arrow-circle-up"></i></a>
        <table class="details">
            <thead>
                <tr>
                    <th>Уровень</th>
                    <th>Темы</th>
                    <th>Материалы</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>
                        Трёхуровневая архитектура, Монолитная архитектура
                    </td>
                    <td>
                        <a href="https://dic.academic.ru/dic.nsf/ruwiki/198141">Трёхуровневая архитектура</a> <i class="map fas fa-circle"></i>
                        <a href="https://proglib.io/p/monolitnaya-vs-mikroservisnaya-arhitektura-2019-09-16">Монолитная vs Микросервисная архитектура</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>
                        Шаблон Model-View-Controller (MVC)
                    </td>
                    <td>
                        <a href="https://www.tutorialspoint.com/design_pattern/mvc_pattern.htm">Design Patterns - MVC Pattern</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>
                        Клиент-серверная архитектура
                    </td>
                    <td>
                        <a href="https://ru.wikipedia.org/wiki/%D0%9A%D0%BB%D0%B8%D0%B5%D0%BD%D1%82_%E2%80%94_%D1%81%D0%B5%D1%80%D0%B2%D0%B5%D1%80">Клиент — сервер</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Микросервисная архитектура
                    </td>
                    <td>
                        <a href="http://devopsru.com/news/2016-05-10-microservice-trade-offs.html">Микросервисы — за и против</a>
                        
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Архитектура Flux
                    </td>
                    <td>
                        <a href="https://facebook.github.io/flux/">Flux</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Шаблон Command Query Responsibility Segregation (CQRS)
                    </td>
                    <td>
                        <a href="https://martinfowler.com/bliki/CQRS.html">CQRS</a> <i class="map fas fa-circle"></i>
                        <a href="https://habr.com/ru/post/347908/">CQRS. Факты и заблуждения </a>
                    </td>
                </tr>


                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Событийно-ориентированная архитектура (Event-driven architecture)
                    </td>
                    <td>
                        <a href="https://aws.amazon.com/event-driven-architecture/">What is an Event-Driven Architecture?</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://learning.oreilly.com/library/view/software-architecture-patterns/9781491971437/">
                            Software Architecture Patterns
                        </a>
                    </td>
                </tr>

                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Атрибуты качества ПО (Software Quality Attributes)
                    </td>
                    <td>
                        <a href="https://hackernoon.com/quality-attributes-in-software-architecture-3844ea482732">Quality attributes in Software Architecture</a> <i class="map fas fa-circle"></i>
                        <a href="https://softwarearchitecturefordevelopers.com/">Software Architecture for Developers</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Архитектурные анти-шаблоны
                    </td>
                    <td>
                        <a href="https://sourcemaking.com/antipatterns/software-architecture-antipatterns">Software Architecture AntiPatterns</a>
                    </td>
                </tr>
            </tbody>
        </table>


        <h3>Контрольные вопросы:</h3>
        <ul>
            <li>Какими конкретно уровнями представлена трехуровневая архитектура?</li>
            <li>Какие недостатки имеет монолитная архитектура?</li>
            <li>Какие преимущества микросервисной архитектуры над монолитной?</li>
            <li>Как взаимодействуют компоненты Модель, Контроллер и Представление в шаблоне MVC?</li>
            <li>В чем смысл шаблона CQRS?</li>
            <li>К какому типу Software Requirments относятся атрибуты качества ПО?</li>
            <li>Какие атрибуты качества ПО вы знаете?</li>
            <li>Как два микросервиса могут взаимодействовать друг с другом/обмениваться данными?</li>
        </ul>







        <a name="git"></a>
        <h2>Системы контроля версий: Git, Mercurial, TFS</h2>  <a href="#top"><i class="map fas fa-arrow-circle-up"></i></a>
        <table class="details">
            <thead>
                <tr>
                    <th>Уровень</th>
                    <th>Темы</th>
                    <th>Материалы</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><i class="map fas fa-star-half-alt"></i></td>
                    <td>Необходимость систем контроля версий | Преимущества использования систем контроля версий</td>
                    <td>
                        <a href="https://ru.wikipedia.org/wiki/%D0%A1%D0%B8%D1%81%D1%82%D0%B5%D0%BC%D0%B0_%D1%83%D0%BF%D1%80%D0%B0%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D1%8F_%D0%B2%D0%B5%D1%80%D1%81%D0%B8%D1%8F%D0%BC%D0%B8">Система управления версиями</a> <i class="map fas fa-circle"></i>
                        <a href="https://ru.hexlet.io/courses/git_base/lessons/vcs_intro/theory_unit">Введение в системы контроля версий</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Понимание разницы между централизованными и распределенными системами контроля версий</td>
                    <td>
                        <a href="https://www.codengineering.ru/q/comparison-between-centralized-and-distributed-version-control-systems-10518/">Сравнение централизованных и распределенных систем управления версиями</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Жизненный цикл в Git</td>
                    <td>
                        <a href="https://proselyte.net/tutorials/git/git_life_cycle/">Руководство по Git. Жизненный цикл Git.</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Работа с Git, Ключевые концепции: repositoty, commit, branch, push, tag, pull request, merge, revert, stage, blame...</td>
                    <td>
                        <a href="https://www.atlassian.com/git/tutorials">Git tutorial. Become a git guru.</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Понимание Git Flow</td>
                    <td>
                        <a href="https://habr.com/ru/post/346066/">GitHub Flow</a> <i class="map fas fa-circle"></i>
                        <a href="https://datasift.github.io/gitflow/IntroducingGitFlow.html">Introducing GitFlow</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Работа с ветками, стратегии "бранчевания"</td>
                    <td>
                        <a href="https://bool.dev/blog/detail/git-branching-strategies">Branching стратегии в Git</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Понимание merge-стратегий: merge commit, merge squash, fast-forward merge, rebase</td>
                    <td>
                        <a href="https://confluence.atlassian.com/bitbucketserver/pull-request-merge-strategies-844499235.html">Pull request merge strategies</a>
                    </td>
                </tr>

            </tbody>
        </table>

        <h3>Контрольные вопросы:</h3>
        <ul>
            <li>В чем заключаются преимущества использования Git?</li>
            <li>Для чего предназначен git stash?</li>
            <li>В чем разница между централизованными и распределенными системами контроля версий?</li>
            <li>В чем разница между командами git fetch и git pull в Git?</li>
            <li>В чем разница между merge commit и merge squash в Git?</li>
            <li>В чем разница между merge commit и fast-forward merge в Git?</li>
            <li>Что такое cherry-pick в Git?</li>
            <li>Для чего применяетсы команда git reset?</li>
            <li>Для чего применяются теги в Git?</li>
            <li>Для чего применяются пул-риквесты в Git?</li>
        </ul>






        <a name="process"></a>
        <h2>Гибкие методологии разработки: Scrum, Kanban и Scrumban</h2>  <a href="#top"><i class="map fas fa-arrow-circle-up"></i></a>
        <table class="details">
            <thead>
                <tr>
                    <th>Уровень</th>
                    <th>Темы</th>
                    <th>Материалы</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Что такое Agile? | Agile манифест</td>
                    <td>
                        <a href="https://scrumtrek.ru/blog/chto-takoe-agile-podhod-i-zachem-on-nuzhen-biznesu/">
                            Что такое Agile-подход и зачем он нужен бизнесу?
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://ru.wikipedia.org/wiki/Agile_Manifesto">
                            Agile Manifesto
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Понимание Scrum процесса</td>
                    <td>
                        <a href="https://habr.com/ru/post/247319/">Гибкая методология разработки "Scrum"</a> <i class="map fas fa-circle"></i>
                        <a href="https://www.scrum.ua/scrum">Что такое Scrum</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Роли в Scrum: Product Owner, Scrum Master, Team</td>
                    <td>
                        <a href="http://project-management.zis.by/agile/roli-v-scrum.html">Роли в Scrum</a> <i class="map fas fa-circle"></i>
                        <a href="https://te-st.ru/2017/07/04/12-terms-of-scrum/">Scrum: 12 терминов, которые нужно запомнить</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Эстимации в Scrum: Story points, Planning poker, Story Points vs Man-hours</td>
                    <td>
                        <a href="https://dev.by/news/12-sovetov-po-estimatsii-proektov-po-razrabotke-ot-praktikuyuschih-preseyl-spetsialistov">12 советов по эстимации проектов по разработке от практикующих пресейл-специалистов</a> <i class="map fas fa-circle"></i>
                        <a href="https://habr.com/ru/post/307820/">Как научиться оценивать задачи, если не умеешь: 4 фактора сложности</a> <i class="map fas fa-circle"></i>
                        <a href="https://brainrain.com.ua/story-points/">Стори поинты: как это работает</a>

                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Церемонии в Scrum: Sprint/release planning, Daily Scrum, Sprint demo, Sprint retrospective</td>
                    <td>
                        <a href="https://ru.coursera.org/lecture/gibkie-metodologii-razrabotki-produktov/agile-tsieriemonii-NZgWj">Agile-церемонии</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Понимание Kanban методологии, Scrum vs Kanban</td>
                    <td>
                        <a href="https://dou.ua/lenta/articles/what-is-kanban/">Что такое Канбан</a> <i class="map fas fa-circle"></i>
                        <a href="https://netology.ru/blog/scrum-kanban">Разбираемся в Scrum и Kanban</a> <i class="map fas fa-circle"></i>
                        <a href="https://habr.com/ru/company/hygger/blog/351048/">Scrum vs Kanban: в чем разница и что выбрать?</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Понимание Scrumban методологии, Необходимость применения</td>
                    <td>
                        <a href="https://habr.com/ru/company/softline/blog/140737/">Scrum-ban</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Методология экстремального программирования</td>
                    <td>
                        <a href="https://www.amazon.com/Extreme-Programming-Explained-Embrace-Change/dp/0321278658">Книга Экстремальное программирование, Кент Бек</a> <i class="map fas fa-circle"></i>
                        <a href="https://habr.com/ru/post/197760/">Методики и принципы экстремального программирования</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <h3>Контрольные вопросы:</h3>
        <ul>
            <li>Опишите Scrum процесс.</li>
            <li>Какие роли существуют в Scrum?</li>
            <li>Что такое Беклог?</li>
            <li>Какие церемонии существуют в Scrum?</li>
            <li>В чем сходства и отличия методологий Scrum и Kanban?</li>
            <li>В чем разница между оценкой в Story points и человеко-часах?</li>
        </ul>







        <a name="gotocomments"></a>
        <div style="width:70%;">
            @await Html.PartialAsync("_PostComments", Model)
        </div>



        <script>
            loadAuthorizeModal = () => {
                $('#authorizeModal').modal('show');
            }
        </script>

        <script type="text/javascript" src="//cdn.iubenda.com/cs/stable/iubenda_cs.js" charset="UTF-8" async></script>

        @await Html.PartialAsync("_Authorize")


    </div>

</body>
</html>