@model Services.DTOs.PostDto
@using Web.Utils;
@using Microsoft.AspNetCore.Http.Features

@{
    Layout = null;

    string url = "https://youit.pro/map/dotnetweb";

    string twitter = "http://twitter.com/share?text=Карта знаний JavaScript программиста&url=" + url;

    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var cookieString = consentFeature?.CreateConsentCookie();

}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YouIT - Карта знаний .NET Web программиста</title>

    <link rel="stylesheet" href="~/css/km-style.css" />
    <link rel="stylesheet" href="~/css/all.min.css" />
    <link rel="stylesheet" href="~/css/comments.css" />
    <link rel="stylesheet" href="~/css/authorize.css" />

    <meta name="keywords" content="Программирование, IT, код, собеседование, тестирование, ООП, Junior, Senior, Аутсорсинг, Алгоритмы, Веб-сервер" />
    <meta name="description" content="Детализированная карта знаний для JavaScript программистов от Trainee до Senior. Используйте для самообучения, поиска пробелов в знаниях, создания программ обучения, подготовки к собеседованиям и продвижениям по карьерной лестнице.">

    <meta property="og:title" content="YouIT">
    <meta property="og:description" content="Детализированная карта знаний для JavaScript программистов от Trainee до Senior. Используйте для самообучения, поиска пробелов в знаниях, создания программ обучения, подготовки к собеседованиям и продвижениям по карьерной лестнице.">

    <meta property="og:image" content="https://storage.googleapis.com/youit/images/dotnetweb.png">
    <meta property="og:image:width" content="600">
    <meta property="og:image:width" content="315">
    <meta property="og:url" content="https://youit.pro/map/dotnetweb">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="YouIT - Карта знаний JavaScript программиста">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.0/knockout-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <link rel="icon" href="/favicon-32x32.png">
    <link rel="icon" href="/favicon-16x16.png">
    <link rel="icon" href="/favicon.ico">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script class="_iub_cs_activate" type="text/plain" async suppressedsrc="https://www.googletagmanager.com/gtag/js?id=UA-99938281-2">
    </script>
    <script class="_iub_cs_activate-inline" type="text/plain">
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-99938281-2');
    </script>


    <script type="text/javascript">
                var _iub = _iub || [];
                _iub.csConfiguration = {
                    "lang": "ru",
                    "siteId": 1742269,
                    "cookiePolicyId": 11210594,
                    "consentOnContinuedBrowsing": false,
                    "cookiePolicyUrl": "https://youit.pro/privacy",
                    "banner": {
                        "acceptButtonDisplay": true,
                        "position": "bottom"
                    },
                    callback: {
                        onConsentRead: function () {
                            document.cookie = '@cookieString';
                        }
                    }
                };
    </script>

</head>
<body>


    <div id="header">

        <h1>
            Карта знаний JavaScript программиста
        </h1>
        <div class="descr">
            Детализированная карта знаний для JavaScript программистов от Trainee до Senior.<br />
            Используйте для самообучения, поиска пробелов в знаниях, создания программ обучения,<br /> подготовки к собеседованиям и продвижениям по карьерной лестнице.
        </div>

        <div class="info">
            <i class="map far fa-calendar-alt"></i> Обновлено 10 января 2020 &nbsp;&nbsp;&nbsp;
            <span style="color: rgb(183, 183, 183)">Поделиться:</span>&nbsp;
            <a href="https://www.facebook.com/sharer/sharer.php?u=@url"><i class="map fab fa-facebook-square"></i></a> &nbsp;
            <a href="@twitter"><i class="map fab fa-twitter-square"></i></a> &nbsp;
            <a href="https://vk.com/share.php?url=@url"><i class="map fab fa-vk"></i></a> &nbsp;
            <a href="https://www.linkedin.com/sharing/share-offsite/?url=@url"><i class="map fab fa-linkedin"></i></a> &nbsp;
        </div>
    </div>
   


    <div class="main-content">


        <div style=" float:left; margin-top:-8px;">
            <a href="/"><img src="@Helper.GetImageUrl("logo.png")" alt="YouIT" /></a>
        </div>

        <div style="margin-bottom:20px; float:right;">

            @if (User.Identity.IsAuthenticated)
            {
                <span>Привет,</span> <a href="/profile/"><b>@User.Identity.Name</b></a>
                <a asp-controller="account" asp-action="signOut"><i class="map fas fa-sign-out-alt"></i></a>
                <br /><a href="#gotocomments">Перейти к комментариям</a>
            }
            else
            {
                <span onclick="loadAuthorizeModal()" class="login-link">
                    <i class="map fas fa-sign-in-alt"></i> Войти
                </span>
            }
        </div>

        <a name="top"></a>
        <table id="map">
            <thead>
                <tr>
                    <th></th>
                    <th>Trainee</th>
                    <th>Junior</th>
                    <th>Middle</th>
                    <th>Senior</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#jscore">Язык программирования JavaScript</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><a href="#jscore">JavaScript и Браузеры</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><a href="#jscore">SPA Фреймворки: React.js, Angular.js, Vue.js</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><a href="#jscore">HTML & HTML5 / CSS & CSS3</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><a href="#quality">Контроль качества кода / Рефакторинг</a></td>
                    <td><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                </tr>
                <tr>
                    <td><a href="#alg">Алгоритмы и Структуры Данных</a></td>
                    <td><i class="map fas fa-star-half-alt"></i></td>
                    <td><i class="map fas fa-star-half-alt"></i></td>
                    <td><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                </tr>
                <tr>
                    <td><a href="#oop">Объектно-ориентированное программирование / Парадигмы программирования</a></td>
                    <td><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                </tr>
                <tr>
                    <td><a href="#patterns">Шаблоны и принципы проектирования, SOLID</a></td>
                    <td></td>
                    <td><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                </tr>
                <tr>
                    <td><a href="#arch">Архитектурные шаблоны и Атрибуты качества (Quality Attributes)</a></td>
                    <td><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                </tr>
                <tr>
                    <td><a href="#security">Веб-безопасность, Шифрование данных, OWASP</a></td>
                    <td><i class="map fas fa-star-half-alt"></i></td>
                    <td><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                </tr>

                <tr>
                    <td><a href="#jscore">Модульное и интеграционное тестирование</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td><a href="#git"> Системы контроля версий: Git, Mercurial, TFS</a></td>
                    <td><i class="map fas fa-star-half-alt"></i></td>
                    <td><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                </tr>
                <tr>
                    <td><a href="#process">Гибкие методологии разработки: Scrum, Kanban и Scrumban</a></td>
                    <td></td>
                    <td><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                </tr>

            </tbody>
        </table>






        <br />
        <a name="jscore"></a>
        <h2>Язык программирования JavaScript</h2>  <a href="#top"><i class="map fas fa-arrow-circle-up"></i></a>
        <table class="details">
            <thead>
                <tr>
                    <th>Уровень</th>
                    <th>Темы</th>
                    <th>Материалы</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td>
                        Предназначение JavaScript | JavaScript vs Java | JavaScript vs EcmaScript
                    </td>
                    <td>
                        <a href="https://learn.javascript.ru/intro">
                            Введение в JavaScript
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://learn.javascript.ru/manuals-specifications">
                            Справочники и спецификации
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://www.amazon.com/Professional-JavaScript-Developers-Nicholas-Zakas/dp/1118026691">
                            Книга Javascript for Web Developers, Nicholas Zakas, Глава 1
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://www.amazon.com/Professional-JavaScript-Developers-Nicholas-Zakas/dp/1118026691">
                            Книга Javascript for Web Developers, Nicholas Zakas, Глава
                        </a>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        Основные конструкции JavaScript: Переменные, Примитивные типы данных (number, string, boolean, null, undefined),
                        Правила преобразования типов | Операторы (унарные, бинарные, условные, сравнение...) | Оператор typeof |
                        Циклы while, for | if-else, switch | Strict mode | Функции
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>


        <h3>Контрольные вопросы:</h3>
        <ul>
            <li></li>
        </ul>



        <a name="quality"></a>
        <h2>Контроль качества кода / Рефакторинг</h2>  <a href="#top"><i class="map fas fa-arrow-circle-up"></i></a>
        <table class="details">
            <thead>
                <tr>
                    <th>Уровень</th>
                    <th>Темы</th>
                    <th>Материалы</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Необходимость Рефакторинга</td>
                    <td>
                        <a href="https://dou.ua/lenta/articles/refactoring/">Основные принципы и правила рефакторинга</a> <i class="map fas fa-circle"></i>
                        <a href="https://habr.com/ru/post/415369/">Цена рефакторинга</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Юнит-тесты и рефакторинг</td>
                    <td>
                        <a href="https://martinfowler.com/books/refactoring.html">Книга Рефакторинг. Улучшение существующего кода, Martin Fowler, Глава 2</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>
                        Основные Запахи кода (Code Smells): Длинный метод, Большой класс, Длинный список параметров, Дублирование кода, Временное поле
                    </td>
                    <td>
                        <a href="https://martinfowler.com/bliki/CodeSmell.html">Martin Fowler, CodeSmell</a> <i class="map fas fa-circle"></i>
                        <a href="https://refactoring.guru/ru/refactoring/smells">Запахи кода</a> <i class="map fas fa-circle"></i>
                        <a href="https://github.com/mohuk/js-code-smells#purposeless-conditions">Collection of javascript code smells</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://www.amazon.com/Refactoring-HTML-Improving-Applications-Addison-Wesley/dp/0321903714">Книга Refactoring HTML: Improving the Design of Existing Web Applications</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Валидация HTML и CSS кода</td>
                    <td>
                        <a href="https://techblog.sdstudio.top/blog/validatory-proveriaem-validnost-html-js-css-koda-kak-proverit-pravilnost">
                            Валидаторы - проверяем валидность HTML, JS, CSS кода
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Стандарты написания кода и соглашение об именовании в JavaScript</td>
                    <td>
                        <a href="http://snowdream.github.io/javascript-style-guide/javascript-style-guide/ru/index.html">
                            Стиль написания кода на JavaScript для Uprock: Перевод и расширение
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://www.w3schools.com/js/js_conventions.asp">
                            JavaScript Style Guide and Coding Conventions
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Ключевые техники рефакторинга: Извлечение метода, Встраивание метода, Замена алгоритма, Расщепление переменной, Переименование метода, Инкапсуляция поля, Замена магического числа символьной константой и других. </td>
                    <td>
                        <a href="https://martinfowler.com/books/refactoring.html">Книга Refactoring Improving the Design of Existing Code by Martin Fowler</a> <i class="map fas fa-circle"></i>
                        <a href="https://refactoring.guru/ru/refactoring/techniques">Приёмы рефакторинга</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Другие техники рефакторинга: Удаление управляющего флага, Декомпозиция/Слияние условного оператора</td>
                    <td>
                        <a href="https://martinfowler.com/books/refactoring.html">Книга Refactoring Improving the Design of Existing Code by Martin Fowler</a> <i class="map fas fa-circle"></i>
                        <a href="https://refactoring.guru/ru/refactoring/techniques">Приёмы рефакторинга</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Статические анализатора кода в JavaScript: JSLint, JSHint, ESLint</td>
                    <td>
                        <a href="https://ru.wikipedia.org/wiki/JSLint">JSLint</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://habr.com/ru/company/paysto/blog/251277/">Статические анализаторы JavaScript и ошибки, от которых они помогут отучиться </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://www.sitepoint.com/comparison-javascript-linting-tools/">
                            A Comparison of JavaScript Linting Tools
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Код-ревью: необдимость, проведение, лучшие практики, инструменты</td>
                    <td>
                        <a href="https://habr.com/ru/company/badoo/blog/413965/">Code review: вы делаете это неправильно</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://techrocks.ru/2019/07/01/code-review-best-practices-1/">
                            Лучшие и проверенные практики ревью: советы для авторов кода
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Документирование кода с помощью комментариев</td>
                    <td>
                        <a href="https://learn.javascript.ru/comments">Комментарии</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://www.amazon.com/Code-Complete-Practical-Handbook-Construction/dp/0735619670">Книга Code Complete by Steve McConnell</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Сбор и анализ метрик качества кода: Цикломатическая сложность, Количество строк кода, Глубина наследования, Количество входящих/исходящих зависимостей класса</td>
                    <td>
                        <a href="https://club.cnews.ru/blogs/entry/metriki_koda_i_prakticheskaya_realizatsiya_po_ih_sboru_i_analizu_chast_1_">
                            Метрики кода и практическая реализация по их сбору и анализу. Часть 1 – метрики
                        </a>
                        <i class="map fas fa-circle"></i>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Работа с унаследованным кодом: рефакторинг, сопровождение, повторное использование</td>
                    <td>
                        <a href="https://www.amazon.com/Working-Effectively-Legacy-Michael-Feathers/dp/0131177052">
                            Книга Working Effectively with Legacy Code by Michael Feathers
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Работа с техническим долгом</td>
                    <td>
                        <a href="https://habr.com/ru/company/simbirsoft/blog/353810/">Технический долг на проекте или выбраться из черной дыры</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://tproger.ru/experts/no-technical-debt/">Как научиться не накапливать технический долг — отвечают эксперты</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Выполнение large-scale рефакторинга</td>
                    <td>
                        <a href="https://www.infoq.com/news/2010/08/large-scale-refactoring/">How To Do Large Scale Refactoring</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://medium.com/swlh/my-year-of-refactoring-a-large-scale-angularjs-project-cd4745da4242">
                            My year of refactoring a large scale AngularJS project…
                        </a>

                    </td>
                </tr>
            </tbody>
        </table>

        <h3>Контрольные вопросы:</h3>
        <ul>
            <li>Какая цель Рефакторинга?</li>
            <li>Почему модульные тесты важны при рефакторинге?</li>
            <li>Что для Вас есть Code Smells?</li>
            <li>Что могут показать статические анализаторы кода?</li>
            <li>Как рефакторить длинный список параметров метода?</li>
            <li>Нужно ли оставлять в коде комментарии?</li>
            <li>На что обращать внимание при проведении код-ревью?</li>
            <li>Какие инструменты код-ревью существуют?</li>
            <li>Нужно ли собирать метрики кода при выполнении large-scale рефакторинга?</li>
        </ul>






        <a name="alg"></a>
        <h2>Алгоритмы и Структуры Данных</h2>  <a href="#top"><i class="map fas fa-arrow-circle-up"></i></a>
        <table class="details">
            <thead>
                <tr>
                    <th>Уровень</th>
                    <th>Темы</th>
                    <th>Материалы</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Понимание Big O нотации, Big O(1), Big O(n), Big O(log n)...</td>
                    <td>
                        <a href="https://habr.com/ru/post/444594/">Big O Нотация</a>

                    </td>
                </tr>

                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Простые алгоритмы поиска: линейный поиск и бинарный поиск</td>
                    <td>
                        <a href="https://nauchforum.ru/studconf/tech/xlviii/25030">Обзор алгоритмов линейного и бинарного поиска</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://www.youtube.com/watch?v=V94Fae8dbgE">Алгоритм бинарного/двоичного поиска</a>

                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>
                        Понимание основных алгоритмов сортировки: пузырьковая сортировка (Bubble Sort), сортировка вставками (Insertion Sort),
                        быстрая сортировка (Quick Sort), сортировка слиянием (Merge Sort)
                    </td>
                    <td>
                        <a href="https://habr.com/ru/post/335920/">Описание алгоритмов сортировки и сравнение их производительности</a> <i class="map fas fa-circle"></i>
                        <a href="https://www.amazon.com/Algorithm-Design-Manual-Steven-Skiena/dp/1849967202">Книга Алгоритмы. Руководство по разработке, Стивен С. Скиена</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>
                        Работа с основными структурами данных и понимание их внутреннего устройства: массив, стек, очереди,
                        списки односвязные/двусвязные, хеш-таблица | Принципы LIFO и FIFO

                    </td>
                    <td>
                        <a href="https://habr.com/ru/company/alconost/blog/419685/">Важнейшие структуры данных, которые вам следует знать к своему собеседованию по программированию</a> <i class="map fas fa-circle"></i>
                        <a href="https://habr.com/ru/post/422259/">Основные структуры данных. Матчасть. Азы</a> <i class="map fas fa-circle"></i>
                        <a href="https://www.amazon.com/Algorithm-Design-Manual-Steven-Skiena/dp/1849967202">Книга Алгоритмы. Руководство по разработке, Стивен С. Скиена</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://ru.wikipedia.org/wiki/FIFO_%D0%B8_LIFO">FIFO и LIFO</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>
                        Значения Big O для операций со структурами данных и алгоритмов сортировок
                    </td>
                    <td>
                        <a href="https://www.bigocheatsheet.com/">Know Thy Complexities!</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>
                        Внутреннее устройство хеш-таблиц, Хеш-функции, Коллизии
                    </td>
                    <td>
                        <a href="https://ru.wikipedia.org/wiki/%D0%A5%D0%B5%D1%88-%D1%82%D0%B0%D0%B1%D0%BB%D0%B8%D1%86%D0%B0">Хеш-таблица</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://ru.wikipedia.org/wiki/%D0%9A%D0%BE%D0%BB%D0%BB%D0%B8%D0%B7%D0%B8%D1%8F_%D1%85%D0%B5%D1%88-%D1%84%D1%83%D0%BD%D0%BA%D1%86%D0%B8%D0%B8">Коллизия хеш-функции</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://ruhighload.com/%D0%A7%D1%82%D0%BE+%D1%82%D0%B0%D0%BA%D0%BE%D0%B5+%D1%85%D0%B5%D1%88-%D1%82%D0%B0%D0%B1%D0%BB%D0%B8%D1%86%D1%8B+%D0%B8+%D0%BA%D0%B0%D0%BA+%D0%BE%D0%BD%D0%B8+%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0%D1%8E%D1%82">Что такое хеш-таблицы и как они работают</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>
                        Деревья и Бинарные деревья: Структура, Построение, Обход (Pre-Order, In-Order, Post-Order), Поиск (DFS, BFS),
                        Вставка элементов

                    </td>
                    <td>
                        <a href="https://medium.com/nuances-of-programming/%D0%B2%D1%81%D0%B5-%D1%87%D1%82%D0%BE-%D0%BD%D1%83%D0%B6%D0%BD%D0%BE-%D0%B7%D0%BD%D0%B0%D1%82%D1%8C-%D0%BE-%D0%B4%D1%80%D0%B5%D0%B2%D0%BE%D0%B2%D0%B8%D0%B4%D0%BD%D1%8B%D1%85-%D1%81%D1%82%D1%80%D1%83%D0%BA%D1%82%D1%83%D1%80%D0%B0%D1%85-%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85-d750444a77ec">Все что нужно знать о древовидных структурах данных</a> <i class="map fas fa-circle"></i>
                        <a href="https://visualgo.net/en">Визуализация алгоритмов</a> <i class="map fas fa-circle"></i>
                        <a href="https://www.amazon.com/Algorithm-Design-Manual-Steven-Skiena/dp/1849967202">Книга Алгоритмы. Руководство по разработке, Стивен С. Скиена</a>

                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Оценка сложности алгоритмов</td>
                    <td>
                        <a href="https://habr.com/ru/post/104219/">Оценка сложности алгоритмов</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Виды графов: Однонаправленные и Двунаправленные, Алгоритмы поиска на графах: DFS, BFS, Дейкстра</td>
                    <td>
                        <a href="https://habr.com/ru/post/65367/">Алгоритмы на графах — Часть 0: Базовые понятия</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://habr.com/ru/post/66586/">Алгоритмы на графах — Часть 1: Поиск в глубину и проблема взаимоблокировок</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://habr.com/ru/post/111361/">Алгоритм Дейкстры. Поиск оптимальных маршрутов на графе</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <h3>Контрольные вопросы:</h3>
        <ul>
            <li>Что показывает Big O нотация?</li>
            <li>По каким двум параметрам можно оценивать сложность алгоритма?</li>
            <li>Чему равна Big O для бинарного поиска?</li>
            <li>Чему равна Big O для операции обращения к ячейке массива по индейсу?</li>
            <li>Опишите алгоритм Сортировки слиянием (Merge Sort)?</li>
            <li>Чему равна Big O для операции извлечения значения по ключу из хеш-таблицы?</li>
            <li>Опишите реализацию алгоритма поиска в ширину (BFS) для дерева?</li>
            <li>В какие случаях для деревьев лучше использовать DFS, а в каких BFS?</li>
            <li>Почему может возникнуть коллизия в хеш-таблицах?</li>
            <li>Как оценить сложность алгоритма?</li>
            <li>Опишите принцип работы алгоритма Дейкстры.</li>
        </ul>








        <a name="oop"></a>
        <h2>Объектно-ориентированное программирование / Парадигмы программирования</h2>  <a href="#top"><i class="map fas fa-arrow-circle-up"></i></a>
        <table class="details">
            <thead>
                <tr>
                    <th>Уровень</th>
                    <th>Темы</th>
                    <th>Материалы</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Классы и Объекты</td>
                    <td>
                        <a href="https://developer.mozilla.org/ru/docs/Learn/JavaScript/%D0%9E%D0%B1%D1%8A%D0%B5%D0%BA%D1%82%D1%8B/Object-oriented_JS">
                            Объектно-ориентированный JavaScript для начинающих
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://developer.mozilla.org/ru/docs/Web/JavaScript/Introduction_to_Object-Oriented_JavaScript">
                            Вступление в Объектно-ориентированный JavaScript
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Понимание принципов ООП: Абстракция, Инкапсуляция, Наследование, Полиморфизм</td>
                    <td>
                        <a href="http://vschol.ru/TurboPascal/gl10/gl10_1.html">Основные принципы ООП</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://www.amazon.com/Object-Oriented-Analysis-Design-Applications-3rd/dp/020189551X">Книга Объектно-ориентированный анализ и проектирование, Гради Буч</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Сравнение процедурного и объектно-ориетированного программирования</td>
                    <td>
                        <a href="https://www.examclouds.com/ru/java/java-core-russian/metodiki-programmirovanija">
                            Процедурное и объектно-ориентированное программирование
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Принципы функционального программирования: Чистые функции, Функции высшего порядка, Неизменяемость, Каррирование</td>
                    <td>
                        <a href="https://habr.com/ru/company/ruvds/blog/434112/">
                            Принципы функционального программирования в JavaScript
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://ru.wikibooks.org/wiki/%D0%9E%D1%81%D0%BD%D0%BE%D0%B2%D1%8B_%D1%84%D1%83%D0%BD%D0%BA%D1%86%D0%B8%D0%BE%D0%BD%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D0%B3%D0%BE_%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F/%D0%92%D0%B2%D0%BE%D0%B4%D0%BD%D0%B0%D1%8F_%D0%BB%D0%B5%D0%BA%D1%86%D0%B8%D1%8F">
                            Основы функционального программирования/Вводная лекция
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Принципы GRASP | Принципы Сильного сцепления (High Cohesion) и Слабой связанности (Low Coupling)</td>
                    <td>
                        <a href="https://bool.dev/blog/detail/grasp-printsipy">Принципы GRASP</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://www.amazon.com/Object-Oriented-Analysis-Design-Applications-3rd/dp/020189551X">Книга Объектно-ориентированный анализ и проектирование, Гради Буч</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Понимание связей Композиции, Агрегации, Наследования. Плюсы и минусы.</td>
                    <td>
                        <a href="https://www.amazon.com/Object-Oriented-Analysis-Design-Applications-3rd/dp/020189551X">Книга Объектно-ориентированный анализ и проектирование, Гради Буч</a> <i class="map fas fa-circle"></i>
                        <a href="https://habr.com/ru/post/354046/">Наследование vs Композиция vs Агрегация</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <h3>Контрольные вопросы:</h3>
        <ul>
            <li>В чем разница между Классом и Объектом?</li>
            <li>В чем разница между Абстракцией и Инкапсуляцией?</li>
            <li>В чем недостатки наследования?</li>
            <li>Что такое Полиморфизм?</li>
            <li>В чем разница между Композицией и Агрегацией?</li>
            <li>О чем говорит принцип Сильного сцеплений (High Cohesion)?</li>
            <li>О чем говорит принцип Слабой связанности (Low Coupling)?</li>
        </ul>








        <a name="patterns"></a>
        <h2>Шаблоны и принципы проектирования, SOLID</h2>  <a href="#top"><i class="map fas fa-arrow-circle-up"></i></a>
        <table class="details">
            <thead>
                <tr>
                    <th>Уровень</th>
                    <th>Темы</th>
                    <th>Материалы</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Принципы SOLID</td>
                    <td>
                        <a href="https://medium.com/webbdev/solid-4ffc018077da">Принципы SOLID, о которых должен знать каждый разработчик</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://getinstance.info/articles/good-code-principles/solid-single-responsibility-javascript/">
                            SOLID принципы в JavaScript. Принцип единственной ответственности
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://thefullstack.xyz/solid-javascript">
                            5 Principles that will make you a SOLID JavaScript Developer
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Принципы DRY, KISS, YAGNI</td>
                    <td>
                        <a href="https://habr.com/ru/company/skillbox/blog/454314/">10 принципов объектно-ориентированного программирования, о которых должен знать каждый разработчик</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://johnnyblog.ru/archives/166">Принципы DRY, KISS, YAGNI </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Принцип Inversion of Control (IoC)</td>
                    <td>
                        <a href="http://demiazz.github.io/about-ioc/">Inversion Of Control</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://habr.com/ru/post/131993/">IoC, DI, IoC-контейнер — Просто о простом</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Основные шаблоны проектирования GoF: Singleton, Factory, Strategy, Observer, Mediator, Prototype, Iterator, Facade, Decorator</td>
                    <td>
                        <a href="https://addyosmani.com/resources/essentialjsdesignpatterns/book/">
                            Learning JavaScript Design Patterns
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://www.dofactory.com/javascript/design-patterns">
                            JavaScript Design Patterns
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Шаблоны проектирования в JavaScript: Constructor, Module, Mixin</td>
                    <td>
                        <a href="https://addyosmani.com/resources/essentialjsdesignpatterns/book/">
                            Learning JavaScript Design Patterns
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://www.dofactory.com/javascript/design-patterns">
                            JavaScript Design Patterns
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Другие GoF шаблоны: Builder, Flyweight, Command, Interpreter, Visitor, State, Chain of Responsibility, Proxy</td>
                    <td>
                        <a href="https://addyosmani.com/resources/essentialjsdesignpatterns/book/">
                            Learning JavaScript Design Patterns
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://www.dofactory.com/javascript/design-patterns">
                            JavaScript Design Patterns
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Закон Деметры</td>
                    <td>
                        <a href="https://habr.com/ru/post/319652/">Закон Деметры</a>
                    </td>
                </tr>
            </tbody>
        </table>


        <h3>Контрольные вопросы:</h3>
        <ul>
            <li>Как расшифровывается аббревиатура SOLID?</li>
            <li>В чем идея принципа замещения Лисков?</li>
            <li>Какие шаблоны проектирования помогают придерживаться принципа Открыт/Закрыт?</li>
            <li>Какие шаблоны проектирования помогают придерживаться принципа Единой ответственности?</li>
            <li>В чем сходства и отличия принципов Единой ответственности и Разделения интерфейсов?</li>
            <li>Опишите принципы DRY, KISS, YAGNI.</li>
            <li>Как реализовать Синглтон?</li>
            <li>В чем смысл шаблона Декоратор?</li>
            <li>В чем суть принципа Inversion of Control (IoC)?</li>
            <li>Опишите реализацию шаблона Медиатор.</li>
        </ul>





        <a name="arch"></a>
        <h2>Архитектурные шаблоны и Атрибуты качества (Quality Attributes)</h2>  <a href="#top"><i class="map fas fa-arrow-circle-up"></i></a>
        <table class="details">
            <thead>
                <tr>
                    <th>Уровень</th>
                    <th>Темы</th>
                    <th>Материалы</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>
                        Трёхуровневая архитектура, Монолитная архитектура
                    </td>
                    <td>
                        <a href="https://dic.academic.ru/dic.nsf/ruwiki/198141">Трёхуровневая архитектура</a> <i class="map fas fa-circle"></i>
                        <a href="https://proglib.io/p/monolitnaya-vs-mikroservisnaya-arhitektura-2019-09-16">Монолитная vs Микросервисная архитектура</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>
                        Шаблон Model-View-Controller (MVC)
                    </td>
                    <td>
                        <a href="https://www.tutorialspoint.com/design_pattern/mvc_pattern.htm">Design Patterns - MVC Pattern</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>
                        Клиент-серверная архитектура
                    </td>
                    <td>
                        <a href="https://ru.wikipedia.org/wiki/%D0%9A%D0%BB%D0%B8%D0%B5%D0%BD%D1%82_%E2%80%94_%D1%81%D0%B5%D1%80%D0%B2%D0%B5%D1%80">Клиент — сервер</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Микросервисная архитектура
                    </td>
                    <td>
                        <a href="http://devopsru.com/news/2016-05-10-microservice-trade-offs.html">Микросервисы — за и против</a>

                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Архитектура Flux
                    </td>
                    <td>
                        <a href="https://facebook.github.io/flux/">Flux</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Шаблон Command Query Responsibility Segregation (CQRS)
                    </td>
                    <td>
                        <a href="https://martinfowler.com/bliki/CQRS.html">CQRS</a> <i class="map fas fa-circle"></i>
                        <a href="https://habr.com/ru/post/347908/">CQRS. Факты и заблуждения </a>
                    </td>
                </tr>


                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Событийно-ориентированная архитектура (Event-driven architecture)
                    </td>
                    <td>
                        <a href="https://aws.amazon.com/event-driven-architecture/">What is an Event-Driven Architecture?</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://learning.oreilly.com/library/view/software-architecture-patterns/9781491971437/">
                            Software Architecture Patterns
                        </a>
                    </td>
                </tr>

                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Атрибуты качества ПО (Software Quality Attributes)
                    </td>
                    <td>
                        <a href="https://hackernoon.com/quality-attributes-in-software-architecture-3844ea482732">Quality attributes in Software Architecture</a> <i class="map fas fa-circle"></i>
                        <a href="https://softwarearchitecturefordevelopers.com/">Software Architecture for Developers</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Архитектурные анти-шаблоны
                    </td>
                    <td>
                        <a href="https://sourcemaking.com/antipatterns/software-architecture-antipatterns">Software Architecture AntiPatterns</a>
                    </td>
                </tr>
            </tbody>
        </table>


        <h3>Контрольные вопросы:</h3>
        <ul>
            <li>Какими конкретно уровнями представлена трехуровневая архитектура?</li>
            <li>Какие недостатки имеет монолитная архитектура?</li>
            <li>Какие преимущества микросервисной архитектуры над монолитной?</li>
            <li>Как взаимодействуют компоненты Модель, Контроллер и Представление в шаблоне MVC?</li>
            <li>В чем смысл шаблона CQRS?</li>
            <li>К какому типу Software Requirments относятся атрибуты качества ПО?</li>
            <li>Какие атрибуты качества ПО вы знаете?</li>
            <li>Как два микросервиса могут взаимодействовать друг с другом/обмениваться данными?</li>
        </ul>







        <a name="security"></a>
        <h2>Веб-безопасность, Шифрование данных, OWASP</h2>  <a href="#top"><i class="map fas fa-arrow-circle-up"></i></a>
        <table class="details">
            <thead>
                <tr>
                    <th>Уровень</th>
                    <th>Темы</th>
                    <th>Материалы</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><i class="map fas fa-star-half-alt"></i></td>
                    <td>Концепции Аутентификации и Авторизации</td>
                    <td>
                        <a href="https://artismedia.by/blog/difference-between-authentication-and-authorization/">В чем состоит разница между аутентификацией и авторизацией</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://www.amazon.com/Web-Application-Hackers-Handbook-Exploiting/dp/1118026470">Книга The Web Application Hacker's Handbook: Finding and Exploiting Security Flaws, Dafydd Stuttard</a>

                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Шифрование vs Хеширование</td>
                    <td>
                        <a href="https://ssl.com.ua/blog/hashing-coding-encryption/">Что такое хеширование, шифрование и кодировка</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Симметричное и Асимметричное шифрование</td>
                    <td>
                        <a href="https://support.microsoft.com/ru-kz/help/246071/description-of-symmetric-and-asymmetric-encryption">Описание симметричного и асимметричного шифрования</a> <i class="map fas fa-circle"></i>
                        <a href="https://intsystem.org/security/asymmetric-encryption-how-it-work/">Асимметричное шифрование. Как это работает?</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Лучшие практики для веб-разработчиков по работе с паролями</td>
                    <td>
                        <a href="https://techbeacon.com/security/6-ways-developers-can-build-better-password-security">6 ways developers can build in better password security </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://www.amazon.com/Web-Application-Hackers-Handbook-Exploiting/dp/1118026470">Книга The Web Application Hacker's Handbook: Finding and Exploiting Security Flaws, Dafydd Stuttard</a>

                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Простые веб-атаки: DoS/DDoS, XSS, CSRF, SQL-injection и механизмы защиты</td>
                    <td>
                        <a href="https://ddos-guard.net/ru/info/blog-detail/dos-i-ddos-ataki-znachenie-i-razlichiya">DoS и DDoS-атаки: значение и различия</a> <i class="map fas fa-circle"></i>
                        <a href="https://www.cloudflare.com/learning/ddos/ddos-attack-tools/how-to-ddos/">XSS уязвимость </a> <i class="map fas fa-circle"></i>
                        <a href="https://learn.javascript.ru/csrf">Атака CSRF</a> <i class="map fas fa-circle"></i>
                        <a href="https://habr.com/ru/post/148151/">SQL injection для начинающих. Часть 1</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://www.amazon.com/Web-Application-Hackers-Handbook-Exploiting/dp/1118026470">Книга The Web Application Hacker's Handbook: Finding and Exploiting Security Flaws, Dafydd Stuttard</a>

                    </td>
                </tr>

                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Аутентификация на основе токенов, JWT токены</td>
                    <td>
                        <a href="https://gist.github.com/zmts/802dc9c3510d79fd40f9dc38a12bccfc">Про токены, JSON Web Tokens (JWT), аутентификацию и авторизацию. Token-Based Authentication </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://www.amazon.com/Web-Application-Hackers-Handbook-Exploiting/dp/1118026470">Книга The Web Application Hacker's Handbook: Finding and Exploiting Security Flaws, Dafydd Stuttard</a>

                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Cross-Origin Resource Sharing (CORS)

                    </td>
                    <td>
                        <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS">
                            Cross-Origin Resource Sharing (CORS)
                        </a>

                        <i class="map fas fa-circle"></i>
                        <a href="https://www.amazon.com/Web-Application-Hackers-Handbook-Exploiting/dp/1118026470">Книга The Web Application Hacker's Handbook: Finding and Exploiting Security Flaws, Dafydd Stuttard</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>OAuth 2.0 протокол</td>
                    <td>
                        <a href="https://www.digitalocean.com/community/tutorials/oauth-2-ru">Введение в OAuth 2</a> <i class="map fas fa-circle"></i>
                        <a href="https://habr.com/ru/company/mailru/blog/115163/">OAuth 2.0 простым и понятным языком</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>OWASP TOP 10</td>
                    <td>
                        <a href="https://www.owasp.org/index.php/Category:OWASP_Top_Ten_Project">OWASP Top Ten Project</a> <i class="map fas fa-circle"></i>
                        <a href="https://habr.com/ru/company/simplepay/blog/258499/">OWASP TOP-10: практический взгляд на безопасность веб-приложений </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://www.amazon.com/Web-Application-Hackers-Handbook-Exploiting/dp/1118026470">Книга The Web Application Hacker's Handbook: Finding and Exploiting Security Flaws, Dafydd Stuttard</a>

                    </td>
                </tr>
            </tbody>
        </table>
        <p class="read-also">
            Читайте также: <a href="/post/prichiny-poyavleniya-spagetti-koda">
                Причины появления спагетти-кода
            </a>
        </p>


        <h3>Контрольные вопросы:</h3>
        <ul>
            <li>В чем отличия Аутентификации от Авторизации?</li>
            <li>Что такое хеширование?</li>
            <li>В чем разница между Симметричным и Асимметричным шифрованием?</li>
            <li>В чем смысл протокола OAuth?</li>
            <li>Как происходит XSS атака?</li>
            <li>Как происходит CSRF атака?</li>
            <li>Откуда берутся сертификаты, которые использует HTTPS протокол?</li>
            <li>В чем разница между HTTPS и HSTS?</li>
            <li>В чем смысл CORS?</li>
            <li>Какие уязвимости из OWASP TOP 10 Вам знакомы?</li>
            <li>Какие алгоритмы симметричного шифрования Вам знакомы?</li>
        </ul>







        <a name="git"></a>
        <h2>Системы контроля версий: Git, Mercurial, TFS</h2>  <a href="#top"><i class="map fas fa-arrow-circle-up"></i></a>
        <table class="details">
            <thead>
                <tr>
                    <th>Уровень</th>
                    <th>Темы</th>
                    <th>Материалы</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><i class="map fas fa-star-half-alt"></i></td>
                    <td>Необходимость систем контроля версий | Преимущества использования систем контроля версий</td>
                    <td>
                        <a href="https://ru.wikipedia.org/wiki/%D0%A1%D0%B8%D1%81%D1%82%D0%B5%D0%BC%D0%B0_%D1%83%D0%BF%D1%80%D0%B0%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D1%8F_%D0%B2%D0%B5%D1%80%D1%81%D0%B8%D1%8F%D0%BC%D0%B8">Система управления версиями</a> <i class="map fas fa-circle"></i>
                        <a href="https://ru.hexlet.io/courses/git_base/lessons/vcs_intro/theory_unit">Введение в системы контроля версий</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Понимание разницы между централизованными и распределенными системами контроля версий</td>
                    <td>
                        <a href="https://www.codengineering.ru/q/comparison-between-centralized-and-distributed-version-control-systems-10518/">Сравнение централизованных и распределенных систем управления версиями</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Жизненный цикл в Git</td>
                    <td>
                        <a href="https://proselyte.net/tutorials/git/git_life_cycle/">Руководство по Git. Жизненный цикл Git.</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Работа с Git, Ключевые концепции: repositoty, commit, branch, push, tag, pull request, merge, revert, stage, blame...</td>
                    <td>
                        <a href="https://www.atlassian.com/git/tutorials">Git tutorial. Become a git guru.</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Понимание Git Flow</td>
                    <td>
                        <a href="https://habr.com/ru/post/346066/">GitHub Flow</a> <i class="map fas fa-circle"></i>
                        <a href="https://datasift.github.io/gitflow/IntroducingGitFlow.html">Introducing GitFlow</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Работа с ветками, стратегии "бранчевания"</td>
                    <td>
                        <a href="https://bool.dev/blog/detail/git-branching-strategies">Branching стратегии в Git</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Понимание merge-стратегий: merge commit, merge squash, fast-forward merge, rebase</td>
                    <td>
                        <a href="https://confluence.atlassian.com/bitbucketserver/pull-request-merge-strategies-844499235.html">Pull request merge strategies</a>
                    </td>
                </tr>

            </tbody>
        </table>

        <h3>Контрольные вопросы:</h3>
        <ul>
            <li>В чем заключаются преимущества использования Git?</li>
            <li>Для чего предназначен git stash?</li>
            <li>В чем разница между централизованными и распределенными системами контроля версий?</li>
            <li>В чем разница между командами git fetch и git pull в Git?</li>
            <li>В чем разница между merge commit и merge squash в Git?</li>
            <li>В чем разница между merge commit и fast-forward merge в Git?</li>
            <li>Что такое cherry-pick в Git?</li>
            <li>Для чего применяетсы команда git reset?</li>
            <li>Для чего применяются теги в Git?</li>
            <li>Для чего применяются пул-риквесты в Git?</li>
        </ul>






        <a name="process"></a>
        <h2>Гибкие методологии разработки: Scrum, Kanban и Scrumban</h2>  <a href="#top"><i class="map fas fa-arrow-circle-up"></i></a>
        <table class="details">
            <thead>
                <tr>
                    <th>Уровень</th>
                    <th>Темы</th>
                    <th>Материалы</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Что такое Agile? | Agile манифест</td>
                    <td>
                        <a href="https://scrumtrek.ru/blog/chto-takoe-agile-podhod-i-zachem-on-nuzhen-biznesu/">
                            Что такое Agile-подход и зачем он нужен бизнесу?
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://ru.wikipedia.org/wiki/Agile_Manifesto">
                            Agile Manifesto
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Понимание Scrum процесса</td>
                    <td>
                        <a href="https://habr.com/ru/post/247319/">Гибкая методология разработки "Scrum"</a> <i class="map fas fa-circle"></i>
                        <a href="https://www.scrum.ua/scrum">Что такое Scrum</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Роли в Scrum: Product Owner, Scrum Master, Team</td>
                    <td>
                        <a href="http://project-management.zis.by/agile/roli-v-scrum.html">Роли в Scrum</a> <i class="map fas fa-circle"></i>
                        <a href="https://te-st.ru/2017/07/04/12-terms-of-scrum/">Scrum: 12 терминов, которые нужно запомнить</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Эстимации в Scrum: Story points, Planning poker, Story Points vs Man-hours</td>
                    <td>
                        <a href="https://dev.by/news/12-sovetov-po-estimatsii-proektov-po-razrabotke-ot-praktikuyuschih-preseyl-spetsialistov">12 советов по эстимации проектов по разработке от практикующих пресейл-специалистов</a> <i class="map fas fa-circle"></i>
                        <a href="https://habr.com/ru/post/307820/">Как научиться оценивать задачи, если не умеешь: 4 фактора сложности</a> <i class="map fas fa-circle"></i>
                        <a href="https://brainrain.com.ua/story-points/">Стори поинты: как это работает</a>

                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Церемонии в Scrum: Sprint/release planning, Daily Scrum, Sprint demo, Sprint retrospective</td>
                    <td>
                        <a href="https://ru.coursera.org/lecture/gibkie-metodologii-razrabotki-produktov/agile-tsieriemonii-NZgWj">Agile-церемонии</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Понимание Kanban методологии, Scrum vs Kanban</td>
                    <td>
                        <a href="https://dou.ua/lenta/articles/what-is-kanban/">Что такое Канбан</a> <i class="map fas fa-circle"></i>
                        <a href="https://netology.ru/blog/scrum-kanban">Разбираемся в Scrum и Kanban</a> <i class="map fas fa-circle"></i>
                        <a href="https://habr.com/ru/company/hygger/blog/351048/">Scrum vs Kanban: в чем разница и что выбрать?</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Понимание Scrumban методологии, Необходимость применения</td>
                    <td>
                        <a href="https://habr.com/ru/company/softline/blog/140737/">Scrum-ban</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Методология экстремального программирования</td>
                    <td>
                        <a href="https://www.amazon.com/Extreme-Programming-Explained-Embrace-Change/dp/0321278658">Книга Экстремальное программирование, Кент Бек</a> <i class="map fas fa-circle"></i>
                        <a href="https://habr.com/ru/post/197760/">Методики и принципы экстремального программирования</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <h3>Контрольные вопросы:</h3>
        <ul>
            <li>Опишите Scrum процесс.</li>
            <li>Какие роли существуют в Scrum?</li>
            <li>Что такое Беклог?</li>
            <li>Какие церемонии существуют в Scrum?</li>
            <li>В чем сходства и отличия методологий Scrum и Kanban?</li>
            <li>В чем разница между оценкой в Story points и человеко-часах?</li>
        </ul>







        <a name="gotocomments"></a>
        <div style="width:70%;">
            @await Html.PartialAsync("_PostComments", Model)
        </div>



        <script>
            loadAuthorizeModal = () => {
                $('#authorizeModal').modal('show');
            }
        </script>

        <script type="text/javascript" src="//cdn.iubenda.com/cs/stable/iubenda_cs.js" charset="UTF-8" async></script>

        @await Html.PartialAsync("_Authorize")


    </div>

</body>
</html>