@model Services.DTOs.PostDto
@using Web.Utils;
@using Microsoft.AspNetCore.Http.Features

@{
    Layout = null;

    string url = "https://youit.pro/map/js";

    string twitter = "http://twitter.com/share?text=Карта знаний JS-Frontend программиста&url=" + url;

    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var cookieString = consentFeature?.CreateConsentCookie();

}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YouIT - Карта знаний  JS-Frontend программиста</title>

    <link rel="stylesheet" href="~/css/km-style.css" />
    <link rel="stylesheet" href="~/css/all.min.css" />
    <link rel="stylesheet" href="~/css/comments.css" />
    <link rel="stylesheet" href="~/css/authorize.css" />

    <meta name="keywords" content="Программирование, IT, код, собеседование, тестирование, ООП, Junior, Senior, Аутсорсинг, Алгоритмы, Веб-сервер" />
    <meta name="description" content="Детализированная карта знаний для JS-Frontend программистов от Trainee до Senior. Используйте для самообучения, поиска пробелов в знаниях, создания программ обучения, подготовки к собеседованиям и продвижениям по карьерной лестнице.">

    <meta property="og:title" content="YouIT">
    <meta property="og:description" content="Детализированная карта знаний для JS-Frontend программистов от Trainee до Senior. Используйте для самообучения, поиска пробелов в знаниях, создания программ обучения, подготовки к собеседованиям и продвижениям по карьерной лестнице.">

    <meta property="og:image" content="https://storage.googleapis.com/youit/images/js.png">
    <meta property="og:image:width" content="600">
    <meta property="og:image:width" content="315">
    <meta property="og:url" content="https://youit.pro/map/js">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="YouIT - Карта знаний JS-Frontend программиста">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.0/knockout-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <link rel="icon" href="/favicon-32x32.png">
    <link rel="icon" href="/favicon-16x16.png">
    <link rel="icon" href="/favicon.ico">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script class="_iub_cs_activate" type="text/plain" async suppressedsrc="https://www.googletagmanager.com/gtag/js?id=UA-99938281-2">
    </script>
    <script class="_iub_cs_activate-inline" type="text/plain">
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-99938281-2');
    </script>


    <script type="text/javascript">
                var _iub = _iub || [];
                _iub.csConfiguration = {
                    "lang": "ru",
                    "siteId": 1742269,
                    "cookiePolicyId": 11210594,
                    "consentOnContinuedBrowsing": false,
                    "cookiePolicyUrl": "https://youit.pro/privacy",
                    "banner": {
                        "acceptButtonDisplay": true,
                        "position": "bottom"
                    },
                    callback: {
                        onConsentRead: function () {
                            document.cookie = '@cookieString';
                        }
                    }
                };
    </script>

</head>
<body>


    <div id="header">

        <h1>
            Карта знаний JS-Frontend программиста
        </h1>
        <div class="descr">
            Детализированная карта знаний для JS-Frontend программистов от Trainee до Senior.<br />
            Используйте для самообучения, поиска пробелов в знаниях, создания программ обучения,<br /> подготовки к собеседованиям и продвижениям по карьерной лестнице.
        </div>

        <div class="info">
            <i class="map far fa-calendar-alt"></i> Обновлено 21 января 2020 &nbsp;&nbsp;&nbsp;
            <span style="color: rgb(183, 183, 183)">Поделиться:</span>&nbsp;
            <a href="https://www.facebook.com/sharer/sharer.php?u=@url"><i class="map fab fa-facebook-square"></i></a> &nbsp;
            <a href="@twitter"><i class="map fab fa-twitter-square"></i></a> &nbsp;
            <a href="https://vk.com/share.php?url=@url"><i class="map fab fa-vk"></i></a> &nbsp;
            <a href="https://www.linkedin.com/sharing/share-offsite/?url=@url"><i class="map fab fa-linkedin"></i></a> &nbsp;
        </div>
    </div>
   


    <div class="main-content">


        <div style=" float:left; margin-top:-8px;">
            <a href="/"><img src="@Helper.GetImageUrl("logo.png")" alt="YouIT" /></a>
        </div>

        <div style="margin-bottom:20px; float:right;">

            @if (User.Identity.IsAuthenticated)
            {
                <span>Привет,</span> <a href="/profile/"><b>@User.Identity.Name</b></a>
                <a asp-controller="account" asp-action="signOut"><i class="map fas fa-sign-out-alt"></i></a>
                <br /><a href="#gotocomments">Перейти к комментариям</a>
            }
            else
            {
                <span onclick="loadAuthorizeModal()" class="login-link">
                    <i class="map fas fa-sign-in-alt"></i> Войти
                </span>
            }
        </div>

        <a name="top"></a>
        <table id="map">
            <thead>
                <tr>
                    <th></th>
                    <th>Trainee</th>
                    <th>Junior</th>
                    <th>Middle</th>
                    <th>Senior</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#html">Язык разметки HTML & HTML5</a></td>
                    <td><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                </tr>
                <tr>
                    <td><a href="#css">Таблицы стилей CSS & CSS3</a></td>
                    <td><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                </tr>
                <tr>
                    <td><a href="#jscore">Язык программирования JavaScript</a></td>
                    <td><i class="map fas fa-star-half-alt"></i></td>
                    <td><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                </tr>
                <tr>
                    <td><a href="#jsbrowsers">JavaScript и Браузеры</a></td>
                    <td><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                </tr>
                <tr>
                    <td><a href="#spa">SPA-фреймворки React.js, Angular.js, Vue.js и JS-библиотеки</a></td>
                    <td><i class="map fas fa-star-half-alt"></i></td>
                    <td><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                </tr>

                <tr>
                    <td><a href="#quality">Рефакторинг и Контроль качества кода</a></td>
                    <td><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                </tr>
                <tr>
                    <td><a href="/map/dotnetweb#algorithms" target="_blank">Алгоритмы и Структуры Данных</a></td>
                    <td><i class="map fas fa-star-half-alt"></i></td>
                    <td><i class="map fas fa-star-half-alt"></i></td>
                    <td><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                </tr>
                <tr>
                    <td><a href="/map/dotnetweb#oop" target="_blank">Парадигмы программирования и Объектно-ориентированное программирование</a></td>
                    <td><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                </tr>
                <tr>
                    <td><a href="/map/dotnetweb#patterns" target="_blank">Принципы SOLID и Шаблоны проектирования GoF</a></td>
                    <td></td>
                    <td><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                </tr>
                <tr>
                    <td><a href="/map/dotnetweb#arch" target="_blank">Архитектурные шаблоны и Атрибуты качества (Quality Attributes)</a></td>
                    <td><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i></td>
                </tr>
                <tr>
                    <td><a href="/map/dotnetweb#security" target="_blank">Веб-безопасность и OWASP</a></td>
                    <td><i class="map fas fa-star-half-alt"></i></td>
                    <td><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                </tr>
               
                <tr>
                    <td><a href="/map/dotnetweb#git" target="_blank"> Системы контроля версий: Git, Mercurial</a></td>
                    <td><i class="map fas fa-star-half-alt"></i></td>
                    <td><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                </tr>
                <tr>
                    <td><a href="/map/dotnetweb#process" target="_blank">Гибкие методологии разработки: Scrum, Kanban и Scrumban</a></td>
                    <td></td>
                    <td><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                </tr>

            </tbody>
        </table>





        <br />
        <a name="html"></a>
        <h2>Язык разметки HTML & HTML5</h2>  <a href="#top"><i class="map fas fa-arrow-circle-up"></i></a>
        <table class="details">
            <thead>
                <tr>
                    <th>Уровень</th>
                    <th>Темы</th>
                    <th>Материалы</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Структура HTML-документа | Элемент DOCTYPE | DOM | Основные HTML-теги: div, span, table, html, head, title, body, script, a, form, input, textarea, p, ul, h1...h6, select... | Блочные и строчные элементы</td>
                    <td>
                        <a href="http://htmlbook.ru/samhtml/struktura-html-koda">
                            Структура HTML-кода
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="http://htmlbook.ru/html/%21doctype">
                            Элемент DOCTYPE
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://html5book.ru/html-tags">HTML-теги</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://html5book.ru/block-inline-elements">Блочные и строчные элементы</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://learn.javascript.ru/dom-nodes">DOM-дерево</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://webref.ru/layout/howtocodeinhtml/chapter10">Разница между тегами div и span</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://www.wiley.com/en-us/HTML%2C+XHTML%2C+and+CSS+Bible%2C+5th+Edition-p-9781118081303">Книга HTML, XHTML, and CSS Bible, Steven M. Schafer</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Семантическая вёрстка, Теги HTML5: article, aside, footer, header, main, mark, nav, section, summary... | Тег base</td>
                    <td>
                        <a href="https://html5book.ru/html5-semantic-elements">Семантические элементы HTML5</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://avivi.pro/blog/html-5-semanticheskaya-vyerstka/">
                            HTML5 Семантическая вёрстка
                        </a>

                        <i class="map fas fa-circle"></i>
                        <a href="https://www.internet-technologies.ru/articles/kak-ispolzovat-html-teg-base.html">
                            Как использовать HTML-тег base
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://professorweb.ru/my/html/html5/level1/html5_index.php">
                            Учебник HTML5
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>
                        Работа с формами | Тег form и аттрибуты action, method, novalidate | Теги legend, fieldset
                        | Тег input и аттрибуты type (значения text, radio, submit, button, checkbox, date,
                        datetime, email, hidden, url, range), placeholder, name, value, required, readonly
                    </td>
                    <td>
                        <a href="https://www.w3schools.com/html/html_forms.asp">
                            HTML Forms
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="http://vvz.nw.ru/Lessons/JavaScript/Forms/html_form_elements.htm">
                            HTML. Элементы форм
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://webref.ru/course/html-content/forms">Формы в HTML</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://www.wiley.com/en-us/HTML%2C+XHTML%2C+and+CSS+Bible%2C+5th+Edition-p-9781118081303">Книга HTML, XHTML, and CSS Bible, Steven M. Schafer</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Сравнение табличной и блочной верстки</td>
                    <td>
                        <a href="http://webdesign.site3k.ru/?/sovet/verstka.html">
                            Спор между сторонниками табличной верстки и верстки блоками
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://artjoker.ua/ru/blog/pochemy-blochnaya-verstka-saita-luchshe-tablichnoy/">
                            Почему блочная верстка лучше табличной?
                        </a>

                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Понимание элементов frame и iFrame</td>
                    <td>
                        <a href="https://ktonanovenkogo.ru/html/html-new/iframe-frame-frejmy-v-html-chto-eto-takoe-frameset.html">
                            Iframe и Frame — что это такое и как лучше использовать фреймы в Html
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://www.hostinger.ru/rukovodstva/shto-takoje-iframe/">Что Такое iFrame?</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Элемент Canvas, Отображение текста, линий, фигур, градиентов, изображений</td>
                    <td>
                        <a href="https://www.w3schools.com/html/html5_canvas.asp">
                            HTML5 Canvas
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Шаблоны проектирования HTML</td>
                    <td>
                        <a href="https://www.amazon.com/Pro-CSS-HTML-Design-Patterns/dp/1590598040">
                            Книга Pro CSS and HTML Design Patterns: Michael Bowers
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Веб компоненты (Web-components): Пользовательские элементы (Custom elements), Теневая модель документа
                        (Shadow DOM), Шаблоны (Templates)
                    </td>
                    <td>
                        <a href="https://learn.javascript.ru/web-components">Веб-компоненты</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://habr.com/ru/post/443032/">
                            Веб-компоненты в реальном мире
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://css-tricks.com/an-introduction-to-web-components/">
                            An Introduction to Web Components
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Работа с аудио и видео | Теги audio и video
                    </td>
                    <td>
                        <a href="https://html5book.ru/html5-video">HTML5-видео</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://developer.mozilla.org/ru/docs/Learn/HTML/Multimedia_and_embedding/Video_and_audio_content">Видео и аудио контент</a>
                        <a href="https://www.w3schools.com/html/html_youtube.asp">
                            HTML YouTube Videos
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Обзор основных стандартов W3C
                    </td>
                    <td>
                        <a href="http://wpget.ru/w3c-chto-eto-ili-chto-takoe-standarty-html/">
                            W3C Что это или что такое стандарты HTML. Урок 2
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Браузерная совместимость семантических элементов
                    </td>
                    <td>
                        <a href="https://professorweb.ru/my/html/html5/level1/1_7.php">
                            Браузерная совместимость семантических элементов
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Масштабируемая векторная графика (Scalable Vector Graphics, SVG)
                    </td>
                    <td>
                        <a href="https://www.w3schools.com/graphics/svg_intro.asp">
                            SVG Tutorial
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://habr.com/ru/post/157087/">
                            Знакомство с SVG-графикой
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Понимание основных принципов SEO | Оптимизация HTML-страниц под поисковые системы |
                        SPA vs Web-site для поисковых систем
                    </td>
                    <td>
                        <a href="https://netpeak.net/ru/blog/optimizatsiya-dlya-novichkov-html-tegi-i-atributy-v-seo/">
                            Оптимизация для новичков: HTML-теги и атрибуты в SEO
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://devaka.ru/articles/seo-slicing">
                            Советы по оптимизации HTML-кода сайта
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://netpeak.net/ru/blog/kak-optimizirovat-spa-sayty/">
                            Как сделать SPA-сайты SEO-Friendly?
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Основы 3D графики с использованием WebGL (Web-based Graphics Library)</td>
                    <td>
                        <a href="https://andyps.github.io/webgl/2016/07/29/an-introduction-to-webgl-ru.html">
                            Введение в WebGL
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Использование API геолокации</td>
                    <td>
                        <a href="https://ipwhois.io/ru/blog/using-the-ip-geolocation-api">
                            Зачем нужна геолокация посетителей? Использование API IP-геолокации
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://www.w3schools.com/html/html5_geolocation.asp">
                            HTML5 Geolocation
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>


        <h3>Контрольные вопросы:</h3>
        <ul>
            <li>Что такое DOM? Может ли программист модифицировать DOM, используя JavaScript?</li>
            <li>Может ли HTML-тег не иметь закрывающего тега?</li>
            <li>Чем отличаются аттрибуты id и class?</li>
            <li>Из каких тегов состоит базовая структура HTML-документа?</li>
            <li>Каково предназначение тега HEAD в HTML-документе?</li>
            <li>Чем табличная верстка отличается от блочной?</li>
            <li>Чем отличаются элементы frame и iFrame?</li>
            <li>Для чего используется элемент &#60;!DOCTYPE html&#62;?</li>
            <li>Какие вы знаете теги для форматирования текста?</li>
            <li>Что такое SVG? Как использовать SVG в HTML-документе?</li>
            <li>В чем отличия деревьев DOM и Shadow DOM?</li>
            <li>Как подключить видео с YouTube на свою страницу?</li>
            <li>Какие правила оптимизации HTML-документа под поисковые движки вы знаете?</li>
        </ul>



        <br />
        <a name="css"></a>
        <h2>Таблицы стилей CSS & CSS3</h2>  <a href="#top"><i class="map fas fa-arrow-circle-up"></i></a>
        <table class="details">
            <thead>
                <tr>
                    <th>Уровень</th>
                    <th>Темы</th>
                    <th>Материалы</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>
                        Основы CSS: Внешние vs Внутренние vs Встроенные стили, Виды селекторов,
                        Группировка селекторов, Наследование и каскад
                    </td>
                    <td>
                        <a href="https://html5book.ru/osnovy-css/">
                            Основы CSS
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://www.amazon.com/Pro-CSS-HTML-Design-Patterns/dp/1590598040">
                            Книга Pro CSS and HTML Design Patterns: Michael Bowers, Глава 3
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>
                        Блочная модель CSS: Свойства width, height, margin, padding, border, background, overflow, visibility
                        | Свойство display: static, inline, block, inline-block | Блочные и строчные элементы
                    </td>
                    <td>
                        <a href="https://www.amazon.com/Pro-CSS-HTML-Design-Patterns/dp/1590598040">
                            Книга Pro CSS and HTML Design Patterns: Michael Bowers, Главы 4-5
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://html5book.ru/css-blochnaya-model">CSS блочная модель</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://html5book.ru/block-inline-elements/">Блочные и строчные элементы</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>
                        <u>Псевдо-элементы</u> (::before, ::after, ::first-letter. ::first-line, ::selection) и
                        <u>псевдо-классы</u> (:active, :enabled, :focus, :hover, :nth-child(), :visited, :required)
                    </td>
                    <td>
                        <i class="map fas fa-circle"></i>
                        <a href="https://www.amazon.com/Pro-CSS-HTML-Design-Patterns/dp/1590598040">
                            Книга Pro CSS and HTML Design Patterns: Michael Bowers, Глава 3
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>
                        Работа с текстом и шрифтами: Свойства text-align, text-indent, letter-spacing, hyphens, word-break, white-space...
                        | Подключение сторонних шрифтов | Оформление текста: Свойства text-shadow, text-decoration...
                    </td>
                    <td>
                        <a href="https://html5book.ru/css-text/">
                            CSS-текст
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="http://site4business.net/css/kak-podklyuchit-shrift.html">
                            Как подключить шрифт на сайт: 3 разных способа + готовый CSS шаблон
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://html5book.ru/css-shrifty/">
                            CSS-шрифты
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://html5book.ru/css3-oformlenie-teksta/">
                            CSS3-оформление текста
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>
                        Фоны в CSS: Свойства background-color, background-repeat, background-image... |
                        Рамки в CSS: Свойства border-style, border-color, border-width...
                    </td>
                    <td>
                        <a href="https://html5book.ru/css-background/">CSS-фон</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://html5book.ru/css-border/">CSS-рамка</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>
                        Цвета в CSS: RGB, RGBA, HSL, HSLA | Свойства color, transparent
                    </td>
                    <td>
                        <a href="https://html5book.ru/css-colors/">CSS-цвета</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>
                        Оформление таблиц | Табличные свойства в CSS: table-layout, border-collapse, border-spacing, empty-cells...
                    </td>
                    <td>
                        <a href="https://html5book.ru/css3-tables/">CSS-таблицы</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>
                        Единицы измерения px, pt, pc, mm, in, ex, em, cm, %
                    </td>
                    <td>
                        <a href="https://www.tutorialspoint.com/css/css_measurement_units.htm">
                            CSS - Measurement Units
                        </a>

                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>
                        Фреймворк Twitter Bootstrap: Подключение, Система сеток (Grid System), Компоненты, Иконки
                    </td>
                    <td>
                        <a href="https://html5css.ru/bootstrap4/default.php">
                            Bootstrap 4 Учебник Справочник на русском примеры
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://getbootstrap.com/docs/4.4/getting-started/introduction/">Bootstrap Introduction</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>
                        Адаптивная верстка: Понятие, Необходимость, Техники, Инструменты
                    </td>
                    <td>
                        <a href="https://jazzteam.org/ru/technical-articles/overview-of-approaches-and-css-frameworks-for-adaptive-web-page-layout/">Адаптивная верстка сайтов: обзор подходов и CSS фреймворков</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://html5book.ru/adaptivnaya-vyorstka-sayta/">Адаптивная вёрстка сайта, урок первый. Вёрстка главной страницы</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Позиционирование элементов в CSS | Свойства position (static/absolute/relative/fixed/sticky),
                        float (left/right), clear, top/left/right/bottom | Слои и свойство z-index

                    </td>
                    <td>
                        <a href="https://www.amazon.com/Pro-CSS-HTML-Design-Patterns/dp/1590598040">
                            Книга Pro CSS and HTML Design Patterns: Michael Bowers, Главы 7-9
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://html5book.ru/css-blochnaya-model">CSS блочная модель</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://html5book.ru/block-inline-elements/">Блочные и строчные элементы</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://html5book.ru/css-position/">CSS-позиционирование</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://www.tutorialspoint.com/css/css_layers.htm">
                            CSS - Layers
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Системы CSS Grid и Flexbox | Многоколоночная верстка
                    </td>
                    <td>
                        <a href="https://html5css.ru/css/css3_flexbox.php">
                            CSS Flexbox
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://webformyself.com/css-grid-layout-s-chego-nachat/">CSS Grid Layout: С чего начать</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://html5book.ru/css3-columns/">CSS3 columns</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://html5book.ru/css-grid/">CSS Grid</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://html5book.ru/css3-flexbox/">CSS flexbox</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        CSS3: Анимации, Трансформации, Переходы, Тени, Градиенты
                    </td>
                    <td>
                        <a href="https://html5book.ru/css3-animation/">CSS3-анимация</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://html5book.ru/css3-transform/">CSS3-трансформации</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://html5book.ru/css3-transition/">CSS3-переходы</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://html5book.ru/css3-ten-bloka/">CSS3-тень блока</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://html5book.ru/css-css3/">CSS3-градиент</a>

                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Медиазапросы в CSS3: Свойства &#64;import и &#64;media, Логические операторы
                    </td>
                    <td>
                        <a href="https://html5book.ru/css3-mediazaprosy/#media">CSS3-медиазапросы</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        CSS-препроцессоры Sass (SCSS) и Less
                    </td>
                    <td>
                        <a href="https://mrmlnc.gitbooks.io/less-guidebook-for-beginners/content/chapter_2/parent-selectors.html">Less. Путеводитель для новичков</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Объявление и использование CSS-переменных
                    </td>
                    <td>
                        <a href="https://habr.com/ru/post/332038/">Нативные переменные в CSS. Уже пора…</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://www.freecodecamp.org/news/everything-you-need-to-know-about-css-variables-c74d922ea855/">Everything you need to know about CSS Variables</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Правила в CSS: &#64;import, &#64;charset, &#64;font-face, !important
                    </td>
                    <td>
                        <a href="https://www.tutorialspoint.com/css/css_at_rules.htm">CSS - &#64; Rules</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Организация CSS-кода с использованием OOCSS, SMACSS, and BEM
                    </td>
                    <td>
                        <a href="https://mattstauffer.com/blog/organizing-css-oocss-smacss-and-bem/">
                            Organizing CSS: OOCSS, SMACSS, and BEM
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://github.com/SoftServeLearning/holy-grail-markup">All CSS methodologies compared examples at one place.</a>

                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Относительные единицы измерения в CSS3
                    </td>
                    <td>
                        <a href="https://html5book.ru/edinicy-izmereniya-vh-vw-vmin-vmax">
                            Единицы измерения vh, vw, vmin, vmax
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Написание кросс-браузерного CSS-кода</td>
                    <td>
                        <a href="https://www.w3schools.com/cssref/css3_browsersupport.asp">
                            CSS Browser Support Reference
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://www.smashingmagazine.com/2019/02/css-browser-support/">
                            A Guide To CSS Support In Browsers
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://www.monitis.com/blog/5-css-techniques-for-better-cross-browser-compatibility/">
                            5 CSS techniques for better cross-browser compatibility
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        CSS-оптимизация веб-страницы для печати на принтере
                    </td>
                    <td>
                        <a href="https://vc.ru/flood/23660-print-style-sheets">
                            Инструкция: CSS-оптимизация веб-страницы для печати
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://html5book.ru/edinicy-izmereniya-vh-vw-vmin-vmax">
                            CSS Printing - &#64;media Rule
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>


        <h3>Контрольные вопросы:</h3>
        <ul>
            <li>Какие существуют способы подключения CSS на страницу?</li>
            <li>Приведите несколько примеров CSS-селекторов.</li>
            <li>Какие вы знаете CSS-фреймворки?</li>
            <li>Чем блочные элементы отличаются от строчных?</li>
            <li>Опишите разницу между правилами display:block и display:inline-block.</li>
            <li>Для чего применяются медиа-запросы в CSS?</li>
            <li>В чем разница между единицами измерения px и em?</li>
            <li>Каковы плюсы и минусы использования правила !important?</li>
            <li>Каким одним селектором могут быть найдены все элементы HTML-документа?</li>
            <li>В чем предназначение CSS-переменных? Как объявить переменную?</li>
            <li>Какие фундаментальные отличия инструментов CSS-Grid и Flexbox?</li>
        </ul>







        <br />
        <a name="jscore"></a>
        <h2>Язык программирования JavaScript</h2>  <a href="#top"><i class="map fas fa-arrow-circle-up"></i></a>
        <table class="details">
            <thead>
                <tr>
                    <th>Уровень</th>
                    <th>Темы</th>
                    <th>Материалы</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><i class="map fas fa-star-half-alt"></i></td>
                    <td>
                        Предназначение JavaScript | JavaScript vs Java | JavaScript vs EcmaScript
                    </td>
                    <td>
                        <a href="https://learn.javascript.ru/intro">
                            Введение в JavaScript
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://learn.javascript.ru/manuals-specifications">
                            Справочники и спецификации
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://www.amazon.com/Professional-JavaScript-Developers-Nicholas-Zakas/dp/1118026691">
                            Книга Professional Javascript for Web Developers, Nicholas Zakas, Глава 1
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://www.amazon.com/JavaScript-Definitive-Guide-Activate-Guides/dp/0596805527">
                            Книга The Definitive Guide, David Flanagan, Глава 1
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star-half-alt"></i></td>
                    <td>
                        Основы языка JavaScript: Синтаксис, Ключевые слова, Переменные, Типы данных | Массивы | Объекты | null vs undefined
                        | Отличия ссылочных типов данных от значимых | Оператор typeof | Операторы | Условия | Циклы | Функции
                    </td>
                    <td>
                        <a href="https://learn.javascript.ru/first-steps">
                            Основы JavaScript
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://www.amazon.com/Professional-JavaScript-Developers-Nicholas-Zakas/dp/1118026691">
                            Книга Professional Javascript for Web Developers, Nicholas Zakas, Главы 2-8
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star-half-alt"></i></td>
                    <td>
                        Правила преобразования примитивных типов данных в JavaScript | Явное и неявное преобразования
                    </td>
                    <td>
                        <a href="https://learn.javascript.ru/type-conversions">
                            Преобразование типов
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://habr.com/ru/company/ruvds/blog/347866/">Неявное преобразование типов в JavaScript. Сколько будет !+[]+[]+![]?</a>

                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star-half-alt"></i></td>
                    <td>
                        Области видимости в JavaScript | Подъем переменных (Function hoisting) | Ключевые слова var и let
                    </td>
                    <td>
                        <a href="https://getinstance.info/articles/javascript/variables-scope-in-javascript/">
                            Область видимости переменных в JavaScript
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://medium.com/nuances-of-programming/%D0%B2-%D1%87%D1%91%D0%BC-%D1%80%D0%B0%D0%B7%D0%BD%D0%B8%D1%86%D0%B0-%D0%BC%D0%B5%D0%B6%D0%B4%D1%83-var-let-%D0%B8-const-%D0%B2-javascript-3084bfe9f7a3">
                            В чём разница между var, let и const в JavaScript
                        </a><i class="map fas fa-circle"></i>
                        <a href="https://www.amazon.com/Professional-JavaScript-Developers-Nicholas-Zakas/dp/1118026691">
                            Книга Professional Javascript for Web Developers, Nicholas Zakas, Глава 4
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star-half-alt"></i></td>
                    <td>
                        Ссылочные типы данных | Создание объектов, ключевое слово new, ключевое слово this
                    </td>
                    <td>
                        <a href="https://www.amazon.com/JavaScript-Definitive-Guide-Activate-Guides/dp/0596805527">
                            Книга The Definitive Guide, David Flanagan, Глава 6
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://www.amazon.com/Professional-JavaScript-Developers-Nicholas-Zakas/dp/1118026691">
                            Книга Professional Javascript for Web Developers, Nicholas Zakas, Глава 5
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star-half-alt"></i></td>
                    <td>Основы сборки мусора в JavaScript</td>
                    <td>
                        <a href="https://learn.javascript.ru/garbage-collection">
                            Сборка мусора
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://www.amazon.com/Professional-JavaScript-Developers-Nicholas-Zakas/dp/1118026691">
                            Книга Professional Javascript for Web Developers, Nicholas Zakas, Глава 4
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star-half-alt"></i></td>
                    <td>Обработка исключений с помощью ключевых слов try..catch</td>
                    <td>
                        <a href="https://learn.javascript.ru/try-catch">
                            Обработка ошибок, "try..catch"
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star-half-alt"></i></td>
                    <td>Использование функций setTimeout и setInterval</td>
                    <td>
                        <a href="https://learn.javascript.ru/settimeout-setinterval">
                            Планирование: setTimeout и setInterval
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star-half-alt"></i></td>
                    <td>
                        Понимание методов обратного вызова (callbacks) | Использование промисов для обработки ответов сервера
                        | Обработка ошибок в промисах
                    </td>
                    <td>
                        <a href="https://learn.javascript.ru/callbacks">
                            Введение: колбэки
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://learn.javascript.ru/promise-basics">Промисы</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://learn.javascript.ru/promise-error-handling">
                            Промисы: обработка ошибок
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>
                        Классы и объекты, Наследование классов, Прототипное наследование, Оператор instanceof | Свойства get и set | Модули: экспорт и импорт
                    </td>
                    <td>
                        <a href="https://learn.javascript.ru/classes">Классы</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://www.amazon.com/JavaScript-Definitive-Guide-Activate-Guides/dp/0596805527">
                            Книга The Definitive Guide, David Flanagan, Глава 9
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://learn.javascript.ru/modules">Модули</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://learn.javascript.ru/property-accessors">
                            Свойства - геттеры и сеттеры
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>
                        Статические, приватные и защищенные свойства классов
                    </td>
                    <td>
                        <a href="https://learn.javascript.ru/static-properties-methods">
                            Статические свойства и методы
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://learn.javascript.ru/private-protected-properties-methods">
                            Приватные и защищённые методы и свойства

                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>
                        Флаги и дескрипторы свойств объектов
                    </td>
                    <td>
                        <a href="https://learn.javascript.ru/property-descriptors">
                            Флаги и дескрипторы свойств
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>
                        Работа с коллекциями Map и Set
                    </td>
                    <td>
                        <a href="https://learn.javascript.ru/">Map и Set</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>
                        Функции: Привязка контекста к функции (call(), apply(), bind())
                        | Стрелочные функции (Arrow functions) | Понимание Замыканий (Clojures)
                    </td>
                    <td>
                        <a href="https://learn.javascript.ru/bind">
                            Привязка контекста к функции
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://learn.javascript.ru/closure">
                            Замыкание
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Реализация многоуровневых промисов | Использование ключевых слов async и await
                    </td>
                    <td>
                        <a href="https://learn.javascript.ru/promise-chaining">
                            Цепочка промисов
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://learn.javascript.ru/async-await">
                            Async/await
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Создание пользовательских исключений, Класс Error
                    </td>
                    <td>
                        <a href="https://learn.javascript.ru/custom-errors">
                            Пользовательские ошибки, расширение Error
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Модули: Динамические импорты, Необходимость, Имплементация
                    </td>
                    <td>
                        <a href="https://learn.javascript.ru/modules-dynamic-imports">
                            Динамические импорты
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Работа с асинхронными итераторами и генераторами</td>
                    <td>
                        <a href="https://learn.javascript.ru/async-iterators-generators">
                            Асинхронные итераторы и генераторы
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Работа с регулярными выражениями в JavaScript, Объект RegExp</td>
                    <td>
                        <a href="https://learn.javascript.ru/regular-expressions">
                            Регулярные выражения
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Реализация Каррирования в JavaScript, Необходимость применения
                    </td>
                    <td>
                        <a href="https://learn.javascript.ru/currying-partials">Каррирование</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Утечки памяти в JavaScript: Причины, Инструменты диагностики, Способы устранения</td>
                    <td>
                        <i class="map fas fa-circle"></i>
                        <a href="https://habr.com/ru/post/309318/">
                            4 вида утечек памяти в JavaScript и как с ними бороться
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://www.lambdatest.com/blog/eradicating-memory-leaks-in-javascript/">
                            Eradicating Memory Leaks In Javascript
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Работа с коллекциями WeakMap и WeakSet
                    </td>
                    <td>
                        <a href="https://learn.javascript.ru/weakmap-weakset">
                            WeakMap и WeakSet
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Написание высокопроизводительного JavaScript-кода
                    </td>
                    <td>
                        <a href="https://www.w3schools.com/js/js_performance.asp">
                            JS Performance
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://www.keycdn.com/blog/javascript-performance">
                            20 Best Practices for Improving JavaScript Performance
                        </a>
                       
                    </td>
                </tr>
            </tbody>
        </table>


        <h3>Контрольные вопросы:</h3>
        <ul>
            <li>В чем разница между JavaScript и EcmaScript?</li>
            <li>Чем отличаются типы null и undefined?</li>
            <li>Что такое NaN? Для чего используется функция isNaN?</li>
            <li>Опишите понятие "Подъем переменных" (Function hoisting).</li>
            <li>Чем ссылочные типы данных отличаются от значимых?</li>
            <li>Должен ли программист удалять из памяти объект, который он ранее аллоцировал?</li>
            <li>Каково предназначение модулей в JavaScript?</li>
            <li>Как объявить статическое свойство в JavaScript?</li>
            <li>Чем отличаются операторы == и ===?</li>
            <li>Каково предназначение директивы use strict?</li>
            <li>Как реализовать замыкание в JavaScript?</li>
            <li>Как диагностировать утечки памяти в JavaScript?</li>
            <li>Чем коллекция Map отличается от WeakMap?</li>
        </ul>


        <br />
        <a name="jsbrowsers"></a>
        <h2>JavaScript и Браузеры</h2>  <a href="#top"><i class="map fas fa-arrow-circle-up"></i></a>
        <table class="details">
            <thead>
                <tr>
                    <th>Уровень</th>
                    <th>Темы</th>
                    <th>Материалы</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>
                        DOM-дерево: Структура, Поиск элементов, Навигация по элементам, Модификация дерева
                    </td>
                    <td>
                        <a href="https://learn.javascript.ru/dom-nodes">
                            DOM-дерево
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://learn.javascript.ru/dom-navigation">
                            Навигация по DOM-элементам
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://learn.javascript.ru/searching-elements-dom">
                            Поиск: getElement*, querySelector*
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://monsterlessons.com/project/lessons/chto-takoe-dom-derevo">Что такое DOM дерево?</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>
                        Жизненный цикл HTML-страницы: События DOMContentLoaded, load, beforeunload, unload
                    </td>
                    <td>
                        <a href="https://learn.javascript.ru/onload-ondomcontentloaded">
                            Страница: DOMContentLoaded, load, beforeunload, unload
                        </a>
                        <i class="map fas fa-circle"></i>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>
                        Объекты document и window
                    </td>
                    <td>
                        <a href="https://www.w3schools.com/js/js_window.asp">
                            JavaScript Window - The Browser Object Model

                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>
                        Основные браузерные события (click, mouseover, mousemove, submit, focus, keydown, scroll...)
                        | Всплытие (bubbling) и Перехват (capturing)
                    </td>
                    <td>
                        <a href="https://learn.javascript.ru/events">Введение в события</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://learn.javascript.ru/event-details">Интерфейсные события</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://learn.javascript.ru/forms-controls">Формы, элементы управления</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>
                        Технология AJAX: Необходимость применения, Как использовать
                    </td>
                    <td>
                        <a href="https://learn.javascript.ru/ajax-intro">
                            Введение в AJAX и COMET
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://www.w3schools.com/xml/ajax_intro.asp">
                            AJAX Introduction
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>
                        Формат JSON: Структура, Правила | JSON vs XML
                    </td>
                    <td>
                        <a href="https://learn.javascript.ru/json">
                            Формат JSON, метод toJSON
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://ruseller.com/lessons.php?id=1212&rub=28">
                            JSON: основы использования
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>
                        Внешний и встроенный JavaScript | Ключевые слова async и defer при подключении скриптов
                    </td>
                    <td>
                        <a href="https://htmlacademy.ru/courses/26/run/12">
                            Подключение внешних скриптов
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://learn.javascript.ru/script-async-defer">
                            Скрипты: async, defer
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>
                        "Куки" (Cookies), Локальное хранилище (Local Storage), Хранилище сессии (Session Storage):
                        Сходства, Отличия, Когда что использовать
                    </td>
                    <td>
                        <a href="https://ssl.com.ua/blog/what-are-cookies/">
                            Что такое файлы cookies и зачем они нужны
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="http://sneakbug8.com/cookies-js-storages">Cookies, sessionStorage, localStorage: В чем разница</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>
                        Работа с объектом Promise: API Состояния, Создание цепочек промисов, Обработка ошибок
                    </td>
                    <td>
                        <a href="https://getinstance.info/articles/javascript/grokking-es6-promises-the-four-functions-you-need-to-avoid-callback-hel/">
                            Введение в ES6 Promises, или четыре функции, которые вам нужно знать
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://learn.javascript.ru/promise-api">Promise API</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Принципы работы браузеров
                    </td>
                    <td>
                        <a href="http://students.summerisgone.com/lectures/browsers/">
                            Принципы работы браузеров
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://habr.com/ru/company/dataart/blog/304138/">
                            Важные аспекты работы браузера для разработчиков. Часть 1
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Работа с HTML5 Drag and Drop | File API
                    </td>
                    <td>
                        <a href="https://www.w3schools.com/html/html5_draganddrop.asp">
                            HTML5 Drag and Drop
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="http://www.webmasters.by/articles/web-programming/3368-html5-file-api.html">
                            Используем HTML5 File API для работы с файлами в браузере
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Работа с IndexedDB API
                    </td>
                    <td>
                        <a href="https://learn.javascript.ru/indexeddb">IndexedDB</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://proglib.io/p/indexeddb-guide/">
                            Краткое, но исчерпывающее руководство по IndexedDB
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Работа с History API
                    </td>
                    <td>
                        <a href="https://developer.mozilla.org/ru/docs/Web/API/History_API">
                            Управление историей браузера
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Работа с Web Workers и Service Workers
                    </td>
                    <td>
                        <a href="https://habr.com/ru/company/ruvds/blog/348424/">
                            Как работает JS: веб-воркеры и пять сценариев их использования
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://tech.ovoenergy.com/web-workers-vs-service-workers/">
                            Web Workers vs Service Workers in JavaScript
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://developers.google.com/web/fundamentals/primers/service-workers">
                            Service Workers: an Introduction
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Клиент-серверная коммуникация: HTTP, HTTPS, HTTP/2, WebSockets</td>
                    <td>
                        <a href="https://learn.javascript.ru/websockets">WebSocket</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://blog.feathersjs.com/http-vs-websockets-a-performance-comparison-da2533f13a77">
                            HTTP vs Websockets: A performance comparison
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://ru.wikipedia.org/wiki/WebSocket">WebSocket</a>
                    </td>
                </tr>

                <tr>
                    <td>
                        <i class="map fas fa-star"></i><i class="map fas fa-star"></i>
                    </td>
                    <td>
                        Событийный цикл в JavaScript
                    </td>
                    <td>
                        <a href="https://learn.javascript.ru/event-loop">
                            Событийный цикл: микрозадачи и макрозадачи
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Работа с FileSystem API
                    </td>
                    <td>
                        <a href="https://www.html5rocks.com/en/tutorials/file/filesystem/">Exploring the FileSystem APIs</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Работа с объектом MutationObserver
                    </td>
                    <td>
                        <a href="https://learn.javascript.ru/mutation-observer">
                            MutationObserver: наблюдатель за изменениями
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Необходимость и основные концепции прогрессивных веб-приложений (Progressive Web App, PWA)
                    </td>
                    <td>
                        <a href="https://habr.com/ru/company/ruvds/blog/418439/">
                            Основы прогрессивных веб-приложений
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://developers.google.com/web/fundamentals/codelabs/your-first-pwapp?hl=ru">
                            Ваше первое прогрессивное веб-приложение
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Стратегии Mobile First и Offline First
                    </td>
                    <td>
                        <a href="https://lpgenerator.ru/blog/2016/03/16/strategiya-mobile-first-chto-eto-i-pochemu-na-nego-stoit-obratit-vnimanie/">
                            Стратегия Mobile First: что это и почему на него стоит обратить внимание?
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://developer.chrome.com/apps/offline_apps">Offline First</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://habr.com/ru/post/160477/">
                            Offline first подход к созданию веб-приложений
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>


        <h3>Контрольные вопросы:</h3>
        <ul>
            <li>Чем отличаются объекты document и window?</li>
            <li>В каких случаях данные лучше хранить в Local Storage чем в Cookies?</li>
            <li>Чем отличаются ключевые слова async и defer?</li>
            <li>Для чего применяются Web Workers?</li>
            <li>Чем Web Workers отличаются от Service Workers?</li>
            <li>Опишите предназначение и работу событийного цикла (Event Loop) в JavaScript?</li>
            <li>Для чего применяется объект MutationObserver?</li>
        </ul>







        <br />
        <a name="spa"></a>
        <h2>SPA-фреймворки React.js, Angular.js, Vue.js и JS-библиотеки</h2>  <a href="#top"><i class="map fas fa-arrow-circle-up"></i></a>
        <table class="details">
            <thead>
                <tr>
                    <th>Уровень</th>
                    <th>Темы</th>
                    <th>Материалы</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><i class="map fas fa-star-half-alt"></i></td>
                    <td>Принципы Одностраничных приложений (Single Page Application, SPA) | SPA vs Web-site</td>
                    <td></td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star-half-alt"></i></td>
                    <td>
                        Создание простых одностраничных веб-приложений с помощью фреймворков React.js, AngularJS, Vue.js
                    </td>
                    <td>
                        <a href="https://ru.vuejs.org/v2/examples/todomvc.html">TodoMVC Example</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://angular.io/start">Getting Started with Angular: Your First App</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://dev.to/duomly/how-to-create-the-react-app-in-5-minutes-1bmb">How to create the React app in 5 minutes?</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star-half-alt"></i></td>
                    <td>
                        Понимание предназначения основных инструментов JavaScript-разработчика: NPM, Yarn, Webpack,
                        Karma, Nightwatch.js, Grunt/Gulp, JSLint, Babel...
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star-half-alt"></i></td>
                    <td>
                        Работа с библиотекой jQuery: использование селекторов, событий, анимаций...
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star-half-alt"></i></td>
                    <td>
                        Работа с инструментами Developer Tools в Chrome: Использование консоли, Анализ исходящих запросов, Отладка, Редактирование CSS-кода
                    </td>
                    <td>
                        <a href="https://developers.google.com/web/tools/chrome-devtools">
                            Chrome DevTools
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://proglib.io/p/chrome-devtools/">
                            14 наиболее полезных особенностей Chrome DevTools
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>
                        Понимание основных элементов SPA-фреймворков:
                        <ul>
                            <li>React.js: </li>
                            <li>Vue.js: </li>
                            <li>AngularJS:</li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>
                        Работа с библиотекой Underscore.js/Lodash
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Работа с основными инструментами JavaScript-разработчика:
                        <ul>
                            <li>NPM</li>
                            <li>Yarn</li>
                            <li>Webpack</li>
                            <li>Karma</li>
                            <li>Nightwatch.js</li>
                            <li>Grunt/Gulp</li>
                            <li>JSLint/JSHint</li>
                            <li>Babel</li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Подключение SPA-фреймворков | Создание скелета веб-приложения
                    </td>
                    <td></td>
                </tr>
                 <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Использование Permormance и Memory профайлеров в Chrome DevTools
                    </td>
                    <td>
                        <a href="https://developers.google.com/web/tools/chrome-devtools">
                            Chrome DevTools
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Продвинутая работа с SPA-фреймворками:
                        <ul>
                            <li>React.js: Redux, </li>
                            <li>Vue.js: Vuex, Vue Router</li>
                            <li>AngularJS:</li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Продвинутая работа с основными инструментами JavaScript-разработчика:
                        <ul>
                            <li>NPM</li>
                            <li>Yarn</li>
                            <li>Webpack</li>
                            <li>Karma</li>
                            <li>Grunt/Gulp</li>
                            <li>JSLint/JSHint</li>
                            <li>Babel</li>
                        </ul>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Архитектура React/Angular/Vue веб-приложений | Flux
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>
                        Инструменты визуализации данных: Chartjs, PivotTable.js, Highcharts.js...
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>


        <h3>Контрольные вопросы:</h3>
        <ul>
            <li></li>
        </ul>








        <a name="quality"></a>
        <h2>Рефакторинг и Контроль качества кода</h2>  <a href="#top"><i class="map fas fa-arrow-circle-up"></i></a>
        <table class="details">
            <thead>
                <tr>
                    <th>Уровень</th>
                    <th>Темы</th>
                    <th>Материалы</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Что такое Рефакторинг?</td>
                    <td>
                        <a href="https://refactoring.guru/ru/refactoring/what-is-refactoring">
                            Чистый код
                        </a> 
                        <i class="map fas fa-circle"></i>
                        <a href="https://analytics.infozone.pro/basic-principles-and-rules-of-refactoring/">
                            Что такое рефакторинг кода? Основные принципы и правила рефакторинга
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Юнит-тесты при рефакторинге</td>
                    <td>
                        <a href="https://martinfowler.com/books/refactoring.html">Книга Рефакторинг. Улучшение существующего кода, Martin Fowler, Глава 2</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>
                        Основные Запахи кода (Code Smells): Длинный метод, Большой класс, Длинный список параметров, Дублирование кода, Временное поле
                    </td>
                    <td>
                        <a href="https://martinfowler.com/bliki/CodeSmell.html">Martin Fowler, CodeSmell</a> <i class="map fas fa-circle"></i>
                        <a href="https://refactoring.guru/ru/refactoring/smells">Запахи кода</a> <i class="map fas fa-circle"></i>
                        <a href="https://github.com/mohuk/js-code-smells#purposeless-conditions">Collection of javascript code smells</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://www.amazon.com/Refactoring-HTML-Improving-Applications-Addison-Wesley/dp/0321903714">Книга Refactoring HTML: Improving the Design of Existing Web Applications</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Валидация HTML и CSS кода</td>
                    <td>
                        <a href="https://techblog.sdstudio.top/blog/validatory-proveriaem-validnost-html-js-css-koda-kak-proverit-pravilnost">
                            Валидаторы - проверяем валидность HTML, JS, CSS кода
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Стандарты написания кода и соглашение об именовании в JavaScript</td>
                    <td>
                        <a href="http://snowdream.github.io/javascript-style-guide/javascript-style-guide/ru/index.html">
                            Стиль написания кода на JavaScript для Uprock: Перевод и расширение
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://www.w3schools.com/js/js_conventions.asp">
                            JavaScript Style Guide and Coding Conventions
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i></td>
                    <td>Ключевые техники рефакторинга: Извлечение метода, Встраивание метода, Замена алгоритма, Расщепление переменной, Переименование метода, Инкапсуляция поля, Замена магического числа символьной константой и других. </td>
                    <td>
                        <a href="https://martinfowler.com/books/refactoring.html">Книга Refactoring Improving the Design of Existing Code by Martin Fowler</a> <i class="map fas fa-circle"></i>
                        <a href="https://refactoring.guru/ru/refactoring/techniques">Приёмы рефакторинга</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Другие техники рефакторинга: Удаление управляющего флага, Декомпозиция/Слияние условного оператора</td>
                    <td>
                        <a href="https://martinfowler.com/books/refactoring.html">Книга Refactoring Improving the Design of Existing Code by Martin Fowler</a> <i class="map fas fa-circle"></i>
                        <a href="https://refactoring.guru/ru/refactoring/techniques">Приёмы рефакторинга</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Статические анализатора кода в JavaScript: JSLint, JSHint, ESLint</td>
                    <td>
                        <a href="https://ru.wikipedia.org/wiki/JSLint">JSLint</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://habr.com/ru/company/paysto/blog/251277/">Статические анализаторы JavaScript и ошибки, от которых они помогут отучиться </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://www.sitepoint.com/comparison-javascript-linting-tools/">
                            A Comparison of JavaScript Linting Tools
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Процесс проведения, инструменты и лучшие практики процедуры Код-ревью</td>
                    <td>
                        <a href="https://habr.com/ru/post/340550/">
                            Code review по-человечески (часть 1)
                        </a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://habr.com/ru/post/142564/">
                            Еще одна статья о code review
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Документирование кода с помощью комментариев</td>
                    <td>
                        <a href="https://learn.javascript.ru/comments">Комментарии</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://www.amazon.com/Code-Complete-Practical-Handbook-Construction/dp/0735619670">Книга Code Complete by Steve McConnell</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Метрики качества кода: Цикломатическая сложность, Количество строк кода, Глубина наследования, Число Входящих и исходящих зависимостей класса</td>
                    <td>
                        <a href="https://ru.wikipedia.org/wiki/%D0%9C%D0%B5%D1%82%D1%80%D0%B8%D0%BA%D0%B0_%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%BD%D0%BE%D0%B3%D0%BE_%D0%BE%D0%B1%D0%B5%D1%81%D0%BF%D0%B5%D1%87%D0%B5%D0%BD%D0%B8%D1%8F">
                            Метрика программного обеспечения
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Сопровождение, рефакторинг и повторное использование унаследованного кода</td>
                    <td>
                        <a href="https://www.amazon.com/Working-Effectively-Legacy-Michael-Feathers/dp/0131177052">
                            Книга Working Effectively with Legacy Code, Michael Feathers
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Как работать с техническим долгом</td>
                    <td>
                        <a href="https://techrocks.ru/2018/10/25/two-kinds-of-tech-debt/">Два вида технического долга и их погашение</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://infostart.ru/article/upravlenie-tekhnicheskim-dolgom-622617/">Управление техническим долгом - Концепция Continuous Inspection</a>
                    </td>
                </tr>
                <tr>
                    <td><i class="map fas fa-star"></i><i class="map fas fa-star"></i><i class="map fas fa-star"></i></td>
                    <td>Выполнение Large-scale рефакторинга</td>
                    <td>
                        <a href="https://www.infoq.com/news/2010/08/large-scale-refactoring/">How To Do Large Scale Refactoring</a>
                        <i class="map fas fa-circle"></i>
                        <a href="https://medium.com/swlh/my-year-of-refactoring-a-large-scale-angularjs-project-cd4745da4242">
                            My year of refactoring a large scale AngularJS project…
                        </a>

                    </td>
                </tr>
            </tbody>
        </table>

        <h3>Контрольные вопросы:</h3>
        <ul>
            <li>Какая цель Рефакторинга?</li>
            <li>Зачем нужны юнит-тесты при рефакторинге?</li>
            <li>Какие вы знаете Code Smells?</li>
            <li>Что могут показать статические анализаторы кода?</li>
            <li>Как рефакторить длинный список параметров метода?</li>
            <li>На что конкретно нужно обращать внимание при выполнении код-ревью?</li>
            <li>Какие вы знаете инструменты код-ревью существуют?</li>
        </ul>




        <a name="gotocomments"></a>
        <div style="width:70%;">
            @await Html.PartialAsync("_PostComments", Model)
        </div>



        <script>
            loadAuthorizeModal = () => {
                $('#authorizeModal').modal('show');
            }
        </script>

        <script type="text/javascript" src="//cdn.iubenda.com/cs/stable/iubenda_cs.js" charset="UTF-8" async></script>

        @await Html.PartialAsync("_Authorize")


    </div>

</body>
</html>