<div class="box full-post">

    <h1>Карты знаний программистов</h1>

    <p>
        <a asp-action="Map" asp-controller="Map" asp-route-id="dotnetweb" style="font-size:27px; color:#173f86; cursor:pointer;">
            Карта знаний .NET Web программиста
        </a>
        <br />
        <span style="color:#808080">Создано: 25 декабря 2019</span>
    </p>
    <p>
        <a asp-action="Map" asp-controller="Map" asp-route-id="js" style="font-size:27px; color:#173f86; cursor:pointer;">
            Карта знаний JavaScript программиста
        </a>
        <br />
        <span style="color:#808080">Создано: 20 января 2020</span>
    </p>
    
</div>