@{
    Layout = null;
}
@using Web.Utils

<div style="margin:auto; width:50%; padding-top:50px; text-align:center; font-family:Verdana;">

    <img src="@Helper.GetImageUrl("logo.png")" alt="YouIT" />

    <h1>Произошла ошибка сервера.</h1>
    <h1>
        Мы начнем работать над ней в кратчайшие сроки.</h1>
    <h1>Попробуйте обновить страницу.
    </h1>

</div>
