<a href="/Home/Index"><b>youIT</b></a>

<ul style="list-style-type:none">
    <li><a href="#">Карьера в IT</a></li>
    <li><a href="#">Программирование</a></li>
    <li><a href="#">Секреты IT</a></li>
</ul>