@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('../fonts/ProximaNovaRegular/proximanovaregular.eot');
    src: url('../fonts/ProximaNovaRegular/proximanovaregular.woff') format('woff'), url('../fonts/ProximaNovaRegular/proximanovaregular.woff2') format('woff2'), url('../fonts/ProximaNovaRegular/proximanovaregular.ttf') format('truetype')
}

.main-content {
    width: 90%;
    margin: auto;
    font-size: 17px;
}

table tr:nth-child(even) {
    background-color: #f8f8f8;
}

table tr:hover {
    background-color: #ddd;
}


#header {
    width: 100%;
    min-height: 300px;
    margin-bottom: 70px;
    background-color: rgb(90, 89, 89);
}


.fa-circle {
    font-size: 11px;
    color: #d0d0d0;
}

i.fa-arrow-circle-up {
font-size:27px;
}

table th {
    padding-top: 12px;
    text-align: left;
    background-color: rgb(65, 73, 65);
    color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
}

    table td, table th {
        border: 1px solid rgb(214, 214, 214);
        padding: 5px;
    }

body {
    font-family: ProximaNovaRegular, Verdana, Geneva, Tahoma, sans-serif, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}

h2 {
    float: left;
    margin-top: 0;
    margin-right: 10px;
}


#map {
    width: 100%;
    text-align: left;
}

table#map th td:first-child,
table#map tr td:first-child {
    width: 50%;
}

table.details th td:first-child,
table.details tr td:first-child {
    width: 10%;
}

table.details th td:nth-of-type(3n),
table.details tr td:nth-of-type(3n) {
    width: 30%;
}

i {
    color: rgb(241, 188, 11);
}

a {
    text-decoration: none;
    color: rgb(35, 66, 133);
}
