<div class="box full-post">

    <h1>О проекте YouIT</h1>

    <p>
        Проект YouIT (<i>произносится "юайти"</i>) - это обычный веб-сайт, который преследует одну единственную цель,
        а именно информативно, лаконично и регулярно отвечать людям на наиболее важные вопросы о программировании
        и карьере в сфере информационных технологий.
    </p>

    <p>
        Вот несколько примеров вопросов, ответы на которые можно найти у нас:
        <ul style="font-style:italic;">
            <li>Почему не дается обучение программированию?</li>
            <li>Зачем программисту нужны сертификаты?</li>
            <li>Существует ли творчество в программировании?</li>
            <li>Как попасть в IT-компанию не программистом?</li>
            <li>И многие-многие другие...</li>
        </ul>
    </p>

    <p>
        Уникальность проекта YouIT заключается в том, что весь контент на сайте формируется благодаря профессионалам из IT сферы,
        которые хотят донести широкой аудитории свою точку зрения и передать частичку своих знаний.
    </p>

    <p>
        Если желаете к нам присоединиться, то смело пишите на
        <a href="mailto: admin@youit.pro" style="color:#092592; font-weight:bold;">admin@youit.pro</a>
    </p>

</div>