<div class="box footer">
    @*<div class="social-icons-wrapper">
            social icons
        </div>*@

    <a asp-controller="info" asp-action="about">О проекте YouIT</a>
    <span>|</span>
    <a asp-controller="info" asp-action="contacts">Контакты</a>
    <span>|</span>
    <a asp-controller="info" asp-action="privacy">Конфиденциальность</a>
    <span>|</span>
    <a asp-controller="info" asp-action="cookies">Cookies</a>
    <span>|</span>
    <a asp-controller="info" asp-action="termsandconditions">Пользовательское соглашение</a>

    <div class="copyright">
        ©2019 youit.pro. Все права защищены. Полное или частичное копирование материалов сайта без согласования с редакцией запрещено.
    </div>
</div>