@model List<Web.Views.Shared.Components.MobileMenu.TagModel>

@for (int i = 0; i < Model.Count; i++)
{
    <a href="/tags/@Model[i].Name" class="tag-link">@Model[i].Display</a>

    if (Model.Count - 1 != i)
    {
        <i class="fas fa-circle tagSeparator"></i>
    }
}

<p></p>
<div style="text-align:center;">
    <script class="_iub_cs_activate" type="text/plain" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- main_under_menu -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-4128223586304442"
         data-ad-slot="2370416150"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script class="_iub_cs_activate" type="text/plain">
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>